{:highlights [{:id #uuid "64450432-7302-44da-a183-fbc003e44d6a",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 601.5942993164062,
                                     :y2 458.921875,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 133.9296875,
                                   :y1 388.9296875,
                                   :x2 601.59130859375,
                                   :y2 403.9296875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 116.3515625,
                                   :y1 407.265625,
                                   :x2 601.5864868164062,
                                   :y2 422.265625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 116.3515625,
                                   :y1 425.59375,
                                   :x2 601.5942993164062,
                                   :y2 440.59375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 116.3515625,
                                   :y1 443.921875,
                                   :x2 465.875,
                                   :y2 458.921875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 14},
               :content {:text "In category theory we want to keep control over which aspects of our systems are being preserved under various observations. As we said above, the less structure is preserved by our observation of a system, the more “surprises” occur when we observe its operations. One might call these surprises generative effects."},
               :properties {:color "green"}}
              {:id #uuid "6445044a-f1c7-473d-918a-42b76bdb3d73",
               :page 14,
               :position {:bounding {:x1 200.1282196044922,
                                     :y1 263.9609375,
                                     :x2 309.17596435546875,
                                     :y2 278.9609375,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 200.1282196044922,
                                   :y1 263.9609375,
                                   :x2 309.17596435546875,
                                   :y2 278.9609375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 14},
               :content {:text "Some terminology:"},
               :properties {:color "green"}}
              {:id #uuid "64450bfd-0457-4552-8185-f7966c50fc35",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 601.5963745117188,
                                     :y2 194.3203125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 419.6484375,
                                   :y1 142.65625,
                                   :x2 601.5903930664062,
                                   :y2 157.65625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 116.3515625,
                                   :y1 160.9921875,
                                   :x2 601.5963745117188,
                                   :y2 175.9921875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 116.734375,
                                   :y1 179.3203125,
                                   :x2 320.70953369140625,
                                   :y2 194.3203125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 14},
               :content {:text "As an example, there are many functions f from R to R, and we can think of them as observations: rather than view x “directly”, we only observe f (x). "},
               :properties {:color "green"}}
              {:id #uuid "64450c60-e409-40c9-af33-2a4f425666a5",
               :page 14,
               :position {:bounding {:x1 116.3515625,
                                     :y1 595.4375,
                                     :x2 408.1460876464844,
                                     :y2 610.4375,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 116.3515625,
                                   :y1 595.4375,
                                   :x2 408.1460876464844,
                                   :y2 610.4375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 14},
               :content {:text "To explore the notion of a generative effect we need "},
               :properties {:color "green"}}],
 :extra {:page 21}}
