{:highlights [{:id #uuid "6400adb5-ca2f-4aef-9e55-a2aec483a968",
               :page 6,
               :position {:bounding {:x1 49,
                                     :y1 66,
                                     :x2 749,
                                     :y2 406,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1677766067549},
               :properties {:color "green"}}
              {:id #uuid "6400ae0c-1940-482e-af08-9a5cf5f66791",
               :page 6,
               :position {:bounding {:x1 43,
                                     :y1 404,
                                     :x2 754,
                                     :y2 476,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1677766155332},
               :properties {:color "green"}}],
 :extra {:page 6}}
