{:highlights [{:id #uuid "64aff39f-2117-4087-93d8-094ac398f2b5",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 407.7349853515625,
                                     :y2 488.453125,
                                     :width 844,
                                     :height 1092.235294117647},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 277.4765625,
                                   :x2 407.7349853515625,
                                   :y2 291.9765625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 292.59375,
                                   :x2 405.6491394042969,
                                   :y2 307.09375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 307.703125,
                                   :x2 405.6488342285156,
                                   :y2 322.203125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 337.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 322.8203125,
                                   :x2 405.64794921875,
                                   :y2 337.3203125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 353.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 337.9296875,
                                   :x2 407.7311096191406,
                                   :y2 352.4296875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 369.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 353.046875,
                                   :x2 405.6391906738281,
                                   :y2 367.546875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 368.15625,
                                   :x2 407.5461120605469,
                                   :y2 382.65625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 401.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 73.59375,
                                   :y1 383.2734375,
                                   :x2 405.6410217285156,
                                   :y2 397.7734375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 417.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 398.3828125,
                                   :x2 407.73284912109375,
                                   :y2 412.8828125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 413.5,
                                   :x2 405.8765563964844,
                                   :y2 428,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 428.609375,
                                   :x2 405.8763427734375,
                                   :y2 443.109375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 449.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 443.7265625,
                                   :x2 405.64312744140625,
                                   :y2 458.2265625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 458.8359375,
                                   :x2 405.64263916015625,
                                   :y2 473.3359375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 473.953125,
                                   :x2 120.58106994628906,
                                   :y2 488.453125,
                                   :width 844,
                                   :height 1092.235294117647}),
                          :page 1},
               :content {:text "Students sometimes manage to produce functionally correct program code while having a fragile understanding of the related learning goals. Such unproductive success could be intercepted by an educator who asks questions that target the structure and evaluation of the student’s program using the constructs and identifiers in the code. We provide a tool that automatically generates multiple-choice questions of seven different types for this purpose. We integrated these questions into a web-based program writing exercises, which we also publish as a part of this work, and successfully used them on an introductory programming course. In our pilot evaluation of the tool, we found that the students who answer these questions repeatedly incorrectly are likely to drop out, have more challenges while writing a program, and resort to tinkering behavior."},
               :properties {:color "green"}}],
 :extra {:page 9}}
