{:highlights [{:id #uuid "645f6f72-7af5-4aed-bb7c-9feb85dc3560",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 158.39451599121094,
                                     :x2 433.65049743652344,
                                     :y2 453.7710723876953,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 158.39451599121094,
                                   :x2 0,
                                   :y2 177.56480407714844,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 174.39830017089844,
                                   :x2 0,
                                   :y2 193.56858825683594,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 190.4020538330078,
                                   :x2 0,
                                   :y2 209.5723419189453,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 206.4058380126953,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 222.4095916748047,
                                   :x2 0,
                                   :y2 241.5798797607422,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 360.6154327392578,
                                   :x2 433.65000915527344,
                                   :y2 375.95167541503906,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 376.1741485595703,
                                   :x2 433.5681610107422,
                                   :y2 391.51039123535156,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 391.74147033691406,
                                   :x2 433.65049743652344,
                                   :y2 407.0777130126953,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 407.3087921142578,
                                   :x2 433.56724548339844,
                                   :y2 422.6449737548828,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 422.8675079345703,
                                   :x2 433.6249237060547,
                                   :y2 438.20375061035156,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 438.43482971191406,
                                   :x2 395.69407653808594,
                                   :y2 453.7710723876953,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 2},
               :content {:text "In this paper, the Block Model, an educational model of program comprehension, is introduced. Its use for planning and analyzing lessons on algorithms is evaluated in a qualitative study with prospective computer science teachers. In addition, the background of the model, its use in computer science education research and for developing competence models is discussed."},
               :properties {:color "green"}}],
 :extra {:page 2}}
