{:highlights [{:id #uuid "64456865-6333-486f-b1a7-90339aed5e37",
               :page 4,
               :position {:bounding {:x1 147.9921875,
                                     :y1 464.6953125,
                                     :x2 358.7253112792969,
                                     :y2 479.6953125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 147.9921875,
                                   :y1 464.6953125,
                                   :x2 358.7253112792969,
                                   :y2 479.6953125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 4},
               :content {:text "A category consists of the following:"},
               :properties {:color "green"}}
              {:id #uuid "64456ec6-edc4-4f05-883a-eae84cfa8e96",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 569.94873046875,
                                     :y2 651.28125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 353.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 294.375,
                                   :y1 620.34375,
                                   :x2 569.94873046875,
                                   :y2 635.34375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 208.3125,
                                   :y1 636.28125,
                                   :x2 464.4628601074219,
                                   :y2 651.28125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 4},
               :content {:text "γ(βα) = (γβ)α for all morphisms α, β, and γ for which the indicated compositions are defined,"},
               :properties {:color "green"}}
              {:id #uuid "64456ed3-2484-49a0-8693-aa169af7ca0b",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 366,
                                     :x2 569.9529418945312,
                                     :y2 702.640625,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 401.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 267.1414794921875,
                                   :y1 655.7578125,
                                   :x2 442.3182678222656,
                                   :y2 670.7578125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 454.75,
                                   :y1 655.7578125,
                                   :x2 569.94140625,
                                   :y2 670.7578125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 442.3203125,
                                   :y1 660.9453125,
                                   :x2 454.76458740234375,
                                   :y2 671.4453125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 208.3125,
                                   :y1 671.6953125,
                                   :x2 569.9529418945312,
                                   :y2 686.6953125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 214.734375,
                                   :y1 676.890625,
                                   :x2 219.421875,
                                   :y2 687.390625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 301.1171875,
                                   :y1 676.890625,
                                   :x2 311.81976318359375,
                                   :y2 687.390625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 208.3125,
                                   :y1 687.640625,
                                   :x2 405.6505432128906,
                                   :y2 702.640625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 4},
               :content {:text "or each x ∈ C there exists 1x ∈ C(x, x) such that1xα = α and β1x = β for all morphisms α and β for which the indicated compositions are defined."},
               :properties {:color "green"}}
              {:id #uuid "64456efd-2697-4c28-8953-2e2e9fabb959",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 414,
                                     :x2 569.9490356445312,
                                     :y2 750.390625,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 270.3294982910156,
                                   :y1 719.453125,
                                   :x2 569.9490356445312,
                                   :y2 734.453125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 147.9921875,
                                   :y1 735.390625,
                                   :x2 175.0958709716797,
                                   :y2 750.390625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 4},
               :content {:text "we refer to a category by using the name of its object class"},
               :properties {:color "green"}}
              {:id #uuid "64456f65-b5a5-49aa-90c5-e7e16c117fa5",
               :page 7,
               :position {:bounding {:x1 147.9921875,
                                     :y1 636.2265625,
                                     :x2 552.2377319335938,
                                     :y2 651.2265625,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 147.9921875,
                                   :y1 636.2265625,
                                   :x2 552.2377319335938,
                                   :y2 651.2265625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 7},
               :content {:text "Let B and C be a categories. The category B is a subcategory of C if"},
               :properties {:color "green"}}],
 :extra {:page 5}}
