{:highlights [{:id #uuid "644505dc-b975-4a82-8ed6-5e137e4479a9",
               :page 11,
               :position {:bounding {:x1 87,
                                     :y1 239,
                                     :x2 678,
                                     :y2 676,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1682245082703},
               :properties {:color "yellow"}}
              {:id #uuid "64456e89-fda0-473a-80bb-1b5185dc2bd6",
               :page 36,
               :position {:bounding {:x1 0,
                                     :y1 350,
                                     :x2 631.5581665039062,
                                     :y2 697.2578125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 369.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 120,
                                   :y1 640.6171875,
                                   :x2 631.5581665039062,
                                   :y2 661.6171875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 88.234375,
                                   :y1 659.4375,
                                   :x2 630.8541870117188,
                                   :y2 678.4375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 88.234375,
                                   :y1 678.2578125,
                                   :x2 623.8046875,
                                   :y2 697.2578125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 36},
               :content {:text "However, there is another way to write this composition, called diagrammatic order. Instead of g ○ f, we would write f; g : A → C, meaning “do f, then do g.” Given an element a ∈ A, represented by a: {☺ } → A, we have an element a; f; g."},
               :properties {:color "green"}}],
 :extra {:page 8}}
