{:highlights [{:id #uuid "645f6df6-22d4-4838-ba5b-6e76752aaed6",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110.38321685791016,
                                     :x2 440.9903335571289,
                                     :y2 594.2191162109375,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 110.38321685791016,
                                   :x2 0,
                                   :y2 129.5535125732422,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 126.3869857788086,
                                   :x2 0,
                                   :y2 145.55728149414062,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 142.3907470703125,
                                   :x2 0,
                                   :y2 161.56105041503906,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 158.39451599121094,
                                   :x2 0,
                                   :y2 177.5648193359375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 174.39828491210938,
                                   :x2 0,
                                   :y2 193.56858825683594,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 190.4020538330078,
                                   :x2 0,
                                   :y2 209.57235717773438,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 206.40582275390625,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 222.40960693359375,
                                   :x2 0,
                                   :y2 241.57989501953125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 238.4133758544922,
                                   :x2 0,
                                   :y2 257.5836486816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 254.41714477539062,
                                   :x2 0,
                                   :y2 273.5874328613281,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 286.4246826171875,
                                   :x2 0,
                                   :y2 305.594970703125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 302.4284362792969,
                                   :x2 0,
                                   :y2 321.5987243652344,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 174.25543212890625,
                                   :y1 304.21710205078125,
                                   :x2 174.26406860351562,
                                   :y2 324.48284912109375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 318.4322204589844,
                                   :x2 0,
                                   :y2 337.6025085449219,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 329.1812744140625,
                                   :x2 431.70328521728516,
                                   :y2 345.0652160644531,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 334.43597412109375,
                                   :x2 0,
                                   :y2 353.60626220703125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 344.75714111328125,
                                   :x2 431.7009963989258,
                                   :y2 360.6410827636719,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 350.43975830078125,
                                   :x2 0,
                                   :y2 369.61004638671875,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 360.3244323730469,
                                   :x2 431.7131118774414,
                                   :y2 376.2083740234375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 366.4435119628906,
                                   :x2 0,
                                   :y2 385.6138000488281,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 375.9002990722656,
                                   :x2 440.9903335571289,
                                   :y2 391.78424072265625,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 391.46759033203125,
                                   :x2 431.7108459472656,
                                   :y2 407.3515625,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 407.04345703125,
                                   :x2 430.2566909790039,
                                   :y2 422.9273986816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 422.6107482910156,
                                   :x2 431.71121978759766,
                                   :y2 438.4947204589844,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 438.1866149902344,
                                   :x2 431.7152786254883,
                                   :y2 454.0705871582031,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 453.7624816894531,
                                   :x2 431.4859390258789,
                                   :y2 469.64642333984375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 469.32977294921875,
                                   :x2 431.7127151489258,
                                   :y2 485.2137451171875,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 484.8970947265625,
                                   :x2 431.7144546508789,
                                   :y2 500.7810363769531,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 500.47296142578125,
                                   :x2 431.70584869384766,
                                   :y2 516.3568725585938,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 516.048828125,
                                   :x2 431.70536041259766,
                                   :y2 531.9327392578125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 531.6160888671875,
                                   :x2 431.7039566040039,
                                   :y2 547.5000610351562,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 547.1834106445312,
                                   :x2 431.71317291259766,
                                   :y2 563.0673828125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 562.75927734375,
                                   :x2 431.7140579223633,
                                   :y2 578.6432495117188,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.28284454345703,
                                   :y1 578.3351440429688,
                                   :x2 140.3220672607422,
                                   :y2 594.2191162109375,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 1},
               :content {:text " Comparing and contrasting different solution approaches is known in math education and cognitive science to increase student learning – what about CS? In this experiment, we replicated work from Rittle-Johnson and Star, using a pretest– intervention–posttest–follow-up design (n=241). Our intervention was an in-class workbook in CS2. A randomized half of students received questions in a compare-and-contrast style, seeing different code for different algorithms in parallel. The other half saw the same code questions sequentially, and evaluated them one at a time. Students in the former group performed better with regard to procedural knowledge (code reading & writing), and flexibility (generating, recognizing & evaluating multiple ways to solve a problem). The two groups performed equally on conceptual knowledge. Our results agree with those of Rittle-Johnson and Star, indicating that the existing work in this area generalizes to CS education."},
               :properties {:color "green"}}],
 :extra {:page 1}}
