{:highlights [{:id #uuid "66015bc2-5846-4186-b556-7617bc50777a",
               :page 1,
               :position {:bounding {:x1 84.25312805175781,
                                     :y1 301.4250183105469,
                                     :x2 424.11207580566406,
                                     :y2 554.8218994140625,
                                     :width 865,
                                     :height 1223.556451612903},
                          :rects ({:x1 84.25312805175781,
                                   :y1 301.4250183105469,
                                   :x2 423.9848175048828,
                                   :y2 318.82501220703125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 318.3375244140625,
                                   :x2 423.8224639892578,
                                   :y2 335.7375183105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 335.0812683105469,
                                   :x2 422.5767364501953,
                                   :y2 352.48126220703125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 352.0031433105469,
                                   :x2 423.73951721191406,
                                   :y2 369.40313720703125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 368.9156494140625,
                                   :x2 424.11207580566406,
                                   :y2 386.3156433105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 385.6593933105469,
                                   :x2 423.7967529296875,
                                   :y2 403.05938720703125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 402.6187744140625,
                                   :x2 423.9112091064453,
                                   :y2 420.0187683105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 419.3625183105469,
                                   :x2 423.89173889160156,
                                   :y2 436.76251220703125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 436.2750244140625,
                                   :x2 423.8393096923828,
                                   :y2 453.6750183105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 453.1968994140625,
                                   :x2 423.6269073486328,
                                   :y2 470.5968933105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 469.9312744140625,
                                   :x2 423.7329864501953,
                                   :y2 487.3312683105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 486.8531494140625,
                                   :x2 423.8916778564453,
                                   :y2 504.2531433105469,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 503.7656555175781,
                                   :x2 423.9476623535156,
                                   :y2 521.1656494140625,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 520.5093994140625,
                                   :x2 423.89637756347656,
                                   :y2 537.909423828125,
                                   :width 865,
                                   :height 1223.556451612903}
                                  {:x1 84.25312805175781,
                                   :y1 537.421875,
                                   :x2 174.844482421875,
                                   :y2 554.8218994140625,
                                   :width 865,
                                   :height 1223.556451612903}),
                          :page 1},
               :content {:text "This paper reports on an evaluation of the Block model for the measurement of code comprehension questions in a first semester programming examination. A set of exam questions is classified using the Block model and two commonly employed taxonomies, SOLO and Bloom. We found that some of the problems inherent in the application of Bloom and SOLO taxonomies also exist in the Block model. Some of the difficulties associated with SOLO and Bloom’s taxonomy are due to the wide breadth of the dimensions. These difficulties are to some degree mitigated by the limited breadth of the Block model dimensions and we found that the Block model provided a better way of describing novice programming code comprehension tasks because of the increased granularity that it provides."},
               :properties {:color "blue"}}],
 :extra {:page 1}}
