{:highlights [{:id #uuid "64774ead-7676-4f7e-8931-93b9ecba194f",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 661.015625,
                                     :x2 340.8609619140625,
                                     :y2 1233.5,
                                     :width 719.9999999999999,
                                     :height 928.6956521739129},
                          :rects ({:x1 76.421875,
                                   :y1 661.015625,
                                   :x2 340.73468017578125,
                                   :y2 673.015625,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 672.984375,
                                   :x2 340.7270812988281,
                                   :y2 684.984375,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 684.8046875,
                                   :x2 340.84967041015625,
                                   :y2 696.8046875,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 696.7734375,
                                   :x2 340.7016906738281,
                                   :y2 708.7734375,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 708.7421875,
                                   :x2 340.8393249511719,
                                   :y2 720.7421875,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 720.5625,
                                   :x2 340.8609619140625,
                                   :y2 732.5625,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 732.53125,
                                   :x2 340.7420654296875,
                                   :y2 744.53125,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 76.421875,
                                   :y1 744.359375,
                                   :x2 283.9493408203125,
                                   :y2 756.359375,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1118,
                                   :x2 0,
                                   :y2 1137.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1134,
                                   :x2 0,
                                   :y2 1153.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1150,
                                   :x2 0,
                                   :y2 1169.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1166,
                                   :x2 0,
                                   :y2 1185.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1182,
                                   :x2 0,
                                   :y2 1201.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1198,
                                   :x2 0,
                                   :y2 1217.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}
                                  {:x1 0,
                                   :y1 1214,
                                   :x2 0,
                                   :y2 1233.5,
                                   :width 719.9999999999999,
                                   :height 928.6956521739129}),
                          :page 2},
               :content {:text "Bloom’s taxonomy of the cognitive domain and the SOLO taxonomy are being increasingly widely used in the design and assessment of courses, but there are some drawbacks to their use in computer science. This paper reviews the literature on educational taxonomies and their use in computer science education, identifies some of the problems that arise, proposes a new taxonomy and discusses how this can be used in application-oriented courses such as programming."},
               :properties {:color "green"}}],
 :extra {:page 2}}
