{:highlights [{:id #uuid "645e9204-463f-4834-a8ee-e581486e57ac",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110.38321685791016,
                                     :x2 437.8713836669922,
                                     :y2 487.8154296875,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 110.38321685791016,
                                   :x2 0,
                                   :y2 129.5535125732422,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 126.3869857788086,
                                   :x2 0,
                                   :y2 145.55728149414062,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 142.3907470703125,
                                   :x2 0,
                                   :y2 161.56105041503906,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 158.39451599121094,
                                   :x2 0,
                                   :y2 177.5648193359375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 174.39828491210938,
                                   :x2 0,
                                   :y2 193.56858825683594,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 190.4020538330078,
                                   :x2 0,
                                   :y2 209.57235717773438,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 206.40582275390625,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 222.40960693359375,
                                   :x2 0,
                                   :y2 241.57989501953125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 238.4133758544922,
                                   :x2 0,
                                   :y2 257.5836486816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 254.41714477539062,
                                   :x2 0,
                                   :y2 273.5874328613281,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 286.4246826171875,
                                   :x2 0,
                                   :y2 305.594970703125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 289.6083068847656,
                                   :x2 437.7881317138672,
                                   :y2 304.9445495605469,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 304.816162109375,
                                   :x2 437.75933837890625,
                                   :y2 320.15240478515625,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 320.0240173339844,
                                   :x2 437.63890075683594,
                                   :y2 335.3602600097656,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 335.41162109375,
                                   :x2 436.5865936279297,
                                   :y2 350.7478332519531,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 350.6194763183594,
                                   :x2 437.7768249511719,
                                   :y2 365.9557189941406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 365.83587646484375,
                                   :x2 437.71031188964844,
                                   :y2 381.172119140625,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 381.04376220703125,
                                   :x2 437.7319793701172,
                                   :y2 396.3799743652344,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 396.2516174316406,
                                   :x2 437.8713836669922,
                                   :y2 411.58782958984375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 411.6391906738281,
                                   :x2 437.7130584716797,
                                   :y2 426.9754333496094,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 426.8470458984375,
                                   :x2 437.5702362060547,
                                   :y2 442.18328857421875,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 442.0634765625,
                                   :x2 437.7136688232422,
                                   :y2 457.3996887207031,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 457.2713317871094,
                                   :x2 437.7147674560547,
                                   :y2 472.6075744628906,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 79.58238220214844,
                                   :y1 472.47918701171875,
                                   :x2 379.50328063964844,
                                   :y2 487.8154296875,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 1},
               :content {:text "How does explicit instruction affect exploratory play and learning? We present a model that captures pedagogical assumptions(adapted from Shafto and Goodman, 2008) and test the model with a novel experiment looking at 4-year-olds’ exploratory play in pedagogical and non-pedagogical contexts. Our findings are consistent with the model predictions: preschool children limit their exploration in pedagogical contexts, spending most of their free play performing only the demonstrated action. By contrast, children explore broadly both at baseline and after an accidental demonstration. Thus pedagogy constrains children’s exploration for better and for worse; children learn the demonstrated causal relationship but are less likely than children in non-pedagogical contexts to discover and learn other causal relationships."},
               :properties {:color "green"}}],
 :extra {:page 1}}
