{:highlights [{:id #uuid "63fb2ef8-b2f7-4887-866b-a9d2075f5b56",
               :page 8,
               :position {:bounding {:x1 82.1953125,
                                     :y1 210.7734375,
                                     :x2 271.5428771972656,
                                     :y2 221.2734375,
                                     :width 532,
                                     :height 752.4000204275129},
                          :rects ({:x1 82.1953125,
                                   :y1 210.7734375,
                                   :x2 271.5428771972656,
                                   :y2 221.2734375,
                                   :width 532,
                                   :height 752.4000204275129}),
                          :page 8},
               :content {:text "2.4 The inherently interdisciplinary nature of CER"},
               :properties {:color "blue"}}
              {:id #uuid "645a9659-25e2-4f27-a6b5-fda0fe69b338",
               :page 9,
               :position {:bounding {:x1 148,
                                     :y1 597.990234375,
                                     :x2 735,
                                     :y2 873.990234375,
                                     :width 886,
                                     :height 1253.0571768773991},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1683658327232},
               :properties {:color "green"}}],
 :extra {:page 1}}
