{:highlights [{:id #uuid "645f6e97-2cf5-4ad4-8701-d8200eee9d39",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 206.4058380126953,
                                     :x2 446.8218078613281,
                                     :y2 605.6527862548828,
                                     :width 926.15260720757,
                                     :height 1198.5504328568552},
                          :rects ({:x1 0,
                                   :y1 206.4058380126953,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 222.4095916748047,
                                   :x2 0,
                                   :y2 241.5799102783203,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 238.4133758544922,
                                   :x2 0,
                                   :y2 257.5836639404297,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 254.4171600341797,
                                   :x2 0,
                                   :y2 273.5874481201172,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 270.42091369628906,
                                   :x2 0,
                                   :y2 289.59120178222656,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 286.42469787597656,
                                   :x2 0,
                                   :y2 305.59498596191406,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 302.42845153808594,
                                   :x2 0,
                                   :y2 321.59873962402344,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 318.43223571777344,
                                   :x2 0,
                                   :y2 337.6024932861328,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 333.3490753173828,
                                   :x2 445.34120178222656,
                                   :y2 349.23304748535156,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 334.4359893798828,
                                   :x2 0,
                                   :y2 353.6062774658203,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 350.4397735595703,
                                   :x2 0,
                                   :y2 369.6100616455078,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 350.7820587158203,
                                   :x2 445.3730163574219,
                                   :y2 366.66603088378906,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 366.4435577392578,
                                   :x2 0,
                                   :y2 385.6138458251953,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 367.85560607910156,
                                   :x2 191.8349151611328,
                                   :y2 383.7395782470703,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 202.2893524169922,
                                   :y1 367.85560607910156,
                                   :x2 445.4067077636719,
                                   :y2 383.7395782470703,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 382.44728088378906,
                                   :x2 0,
                                   :y2 401.61756896972656,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 384.9206085205078,
                                   :x2 445.4444274902344,
                                   :y2 400.80458068847656,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 398.45106506347656,
                                   :x2 0,
                                   :y2 417.62135314941406,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 401.99415588378906,
                                   :x2 445.4896545410156,
                                   :y2 417.8781280517578,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 414.45484924316406,
                                   :x2 0,
                                   :y2 433.62513732910156,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 419.0591583251953,
                                   :x2 445.4513244628906,
                                   :y2 434.9430694580078,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 0,
                                   :y1 430.45863342285156,
                                   :x2 0,
                                   :y2 449.62892150878906,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 436.1326446533203,
                                   :x2 445.4215087890625,
                                   :y2 452.01661682128906,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 453.20619201660156,
                                   :x2 445.4734191894531,
                                   :y2 469.0901641845703,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 470.2711944580078,
                                   :x2 445.45184326171875,
                                   :y2 486.15516662597656,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 487.34474182128906,
                                   :x2 445.50799560546875,
                                   :y2 503.2287139892578,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 504.4182891845703,
                                   :x2 445.4462585449219,
                                   :y2 520.3022003173828,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 521.4832305908203,
                                   :x2 445.3313751220703,
                                   :y2 537.3672027587891,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 538.5567779541016,
                                   :x2 445.4594421386719,
                                   :y2 554.4407501220703,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 555.6217803955078,
                                   :x2 149.5748748779297,
                                   :y2 571.5057525634766,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 160.51695251464844,
                                   :y1 555.6217803955078,
                                   :x2 446.8218078613281,
                                   :y2 571.5057525634766,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 572.6953277587891,
                                   :x2 129.2322540283203,
                                   :y2 588.5792388916016,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 140.31112670898438,
                                   :y1 572.6953277587891,
                                   :x2 255.25677490234375,
                                   :y2 588.5792388916016,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 266.31298828125,
                                   :y1 572.6953277587891,
                                   :x2 388.08343505859375,
                                   :y2 588.5792388916016,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 399.1784973144531,
                                   :y1 572.6953277587891,
                                   :x2 445.49151611328125,
                                   :y2 588.5792388916016,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}
                                  {:x1 82.16694641113281,
                                   :y1 589.7688751220703,
                                   :x2 206.9733428955078,
                                   :y2 605.6527862548828,
                                   :width 926.15260720757,
                                   :height 1198.5504328568552}),
                          :page 2},
               :content {:text "The lack of code comprehension skills in novice programming students is recognised as a major factor underpinning poor learning outcomes. We use Schulte’s Block Model to support teachers’ understanding of how to break the skill down into component parts that are more manageable for a learner. This analysis is operationalised in three code annotation-based learning/assessment exercise formats, two helping students to identify and describe programming concepts and the third enabling them to parse code correctly and carry out desk executions. A great benefit of the activities is that they are low cost and can be applied to any imperative style code and so can be easily adopted by schools anywhere; furthermore, they are active, not passive, an issue with some animation-based visualisation approaches. The exercise formats were included as part of a national schools computing science professional learning programme (PLAN C)."},
               :properties {:color "green"}}],
 :extra {:page 5}}
