{:highlights [{:id #uuid "645e9c8e-ab2b-46c1-b7bb-28e2aead059e",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 -1.6431677341461182,
                                     :x2 569.458381652832,
                                     :y2 972.0792236328125,
                                     :width 902,
                                     :height 1207.2923076923078},
                          :rects ({:x1 0,
                                   :y1 -1.6431677341461182,
                                   :x2 0,
                                   :y2 17.527122259140015,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 209.17868041992188,
                                   :y1 749.5241088867188,
                                   :x2 549.8656005859375,
                                   :y2 774.7193603515625,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 754.8215942382812,
                                   :x2 203.46434020996094,
                                   :y2 772.896484375,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 774.1973266601562,
                                   :x2 569.458381652832,
                                   :y2 799.3925170898438,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 798.8704833984375,
                                   :x2 545.103401184082,
                                   :y2 824.0657348632812,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 823.53515625,
                                   :x2 551.3911209106445,
                                   :y2 848.7303466796875,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 848.2083129882812,
                                   :x2 546.9373245239258,
                                   :y2 873.403564453125,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 872.8815307617188,
                                   :x2 341.2725296020508,
                                   :y2 898.0767211914062,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 374.89044189453125,
                                   :y1 872.8815307617188,
                                   :x2 533.6383666992188,
                                   :y2 898.0767211914062,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 341.0856628417969,
                                   :y1 873.7886962890625,
                                   :x2 371.2569885253906,
                                   :y2 888.0294799804688,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 897.546142578125,
                                   :x2 528.4779739379883,
                                   :y2 922.7413940429688,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 922.2193603515625,
                                   :x2 561.2329177856445,
                                   :y2 947.41455078125,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 946.8839721679688,
                                   :x2 311.3750991821289,
                                   :y2 972.0792236328125,
                                   :width 902,
                                   :height 1207.2923076923078}),
                          :page 1},
               :content {:text "CODE IS HARDLY ever developed from scratch. Rather, new code typically needs to integrate with existing code and is dependent upon existing libraries. Two recent studies found that developers spend, on average, 58% and 70% of their time trying to comprehend code but only 5% of their time editing it.32,51 This implies that reading and understanding code is very important, both as an enabler of development and as a major cost factor during development."},
               :properties {:color "green"}}
              {:id #uuid "645e9c99-b8c2-44dd-8f61-15341d5215ea",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 -1.6431655883789062,
                                     :x2 837.9556274414062,
                                     :y2 1144.7744216918945,
                                     :width 902,
                                     :height 1207.2923076923078},
                          :rects ({:x1 0,
                                   :y1 -1.6431655883789062,
                                   :x2 0,
                                   :y2 17.527122497558594,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 588.9900512695312,
                                   :y1 185.74642181396484,
                                   :x2 837.3455200195312,
                                   :y2 202.72582244873047,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 588.9900512695312,
                                   :y1 203.47894287109375,
                                   :x2 837.35546875,
                                   :y2 220.45833587646484,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 588.9900512695312,
                                   :y1 221.21146392822266,
                                   :x2 837.9556274414062,
                                   :y2 238.19086456298828,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 588.9900512695312,
                                   :y1 238.94397735595703,
                                   :x2 837.32421875,
                                   :y2 255.92337799072266,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 588.9900512695312,
                                   :y1 256.6764907836914,
                                   :x2 721.84375,
                                   :y2 273.65589141845703,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 74.00245666503906,
                                   :y1 971.5571365356445,
                                   :x2 535.0401763916016,
                                   :y2 996.7523880004883,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 996.230354309082,
                                   :x2 543.7226638793945,
                                   :y2 1021.4256057739258,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 1020.8949661254883,
                                   :x2 530.7643508911133,
                                   :y2 1046.090217590332,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 1045.5681838989258,
                                   :x2 533.573371887207,
                                   :y2 1070.7634353637695,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 1070.241340637207,
                                   :x2 548.5130081176758,
                                   :y2 1095.4365921020508,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 1094.9060134887695,
                                   :x2 561.3646926879883,
                                   :y2 1120.101203918457,
                                   :width 902,
                                   :height 1207.2923076923078}
                                  {:x1 55.49970245361328,
                                   :y1 1119.579231262207,
                                   :x2 533.232063293457,
                                   :y2 1144.7744216918945,
                                   :width 902,
                                   :height 1207.2923076923078}),
                          :page 1},
               :content {:text "But as anyone who tries to read code can attest, it is hard to understand code written by others. This is commonly attributed, at least in part, to the code’s complexity: the more complex the code, the harder it is to understand, and by implication, to work with. Identifying and dealing with complexity is considered important because the code’s complexity may slow down developers and may even cause them to misunderstand it—possibly leading to programming errors. Conversely, simplicity is often extolled as vital for code quality."},
               :properties {:color "green"}}],
 :extra {:page 1}}
