{:highlights [{:id #uuid "6479e689-9763-415f-a50c-0dd0bb089067",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 661.5082397460938,
                                     :y2 384.8671875,
                                     :width 720,
                                     :height 946.2760381669132},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 297.171875,
                                   :x2 661.5082397460938,
                                   :y2 308.671875,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 308.0546875,
                                   :x2 661.315185546875,
                                   :y2 319.5546875,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 318.9375,
                                   :x2 661.5049438476562,
                                   :y2 330.4375,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 329.828125,
                                   :x2 661.3104248046875,
                                   :y2 341.328125,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 340.7109375,
                                   :x2 661.3128051757812,
                                   :y2 352.2109375,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 351.59375,
                                   :x2 661.506591796875,
                                   :y2 363.09375,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 362.484375,
                                   :x2 661.32080078125,
                                   :y2 373.984375,
                                   :width 720,
                                   :height 946.2760381669132}
                                  {:x1 51.421875,
                                   :y1 373.3671875,
                                   :x2 180.6863250732422,
                                   :y2 384.8671875,
                                   :width 720,
                                   :height 946.2760381669132}),
                          :page 1},
               :content {:text nil},
               :properties {:color "green"}}],
 :extra {:page 1}}
