{:highlights [{:id #uuid "645f6c5c-93b4-42bf-95e2-a2883c643dab",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 78.37567901611328,
                                     :x2 443.93125915527344,
                                     :y2 424.1597900390625,
                                     :width 902.0000000000001,
                                     :height 1275.6851947667974},
                          :rects ({:x1 0,
                                   :y1 78.37567901611328,
                                   :x2 0,
                                   :y2 97.54596710205078,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 0,
                                   :y1 94.37944793701172,
                                   :x2 0,
                                   :y2 113.54973602294922,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 0,
                                   :y1 110.38321685791016,
                                   :x2 0,
                                   :y2 129.5535125732422,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 0,
                                   :y1 126.3869857788086,
                                   :x2 0,
                                   :y2 145.55728149414062,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 0,
                                   :y1 142.3907470703125,
                                   :x2 0,
                                   :y2 161.56105041503906,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 329.0186767578125,
                                   :x2 443.93125915527344,
                                   :y2 344.9026184082031,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 344.8683776855469,
                                   :x2 443.91697692871094,
                                   :y2 360.7523498535156,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 360.7181091308594,
                                   :x2 443.9272918701172,
                                   :y2 376.60205078125,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 376.5678405761719,
                                   :x2 443.9307098388672,
                                   :y2 392.4517822265625,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 392.4261169433594,
                                   :x2 443.91746520996094,
                                   :y2 408.31005859375,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}
                                  {:x1 81.51652526855469,
                                   :y1 408.27581787109375,
                                   :x2 337.2698974609375,
                                   :y2 424.1597900390625,
                                   :width 902.0000000000001,
                                   :height 1275.6851947667974}),
                          :page 1},
               :content {:text "This paper tackles the issue of students writing code without considering how it will behave. Research shows that the ability to understand and trace programs is necessary to be able to effectively write programs. It studies a potentially automatable tutoring technique that asks code comprehension questions whilst students are writing code."},
               :properties {:color "green"}}],
 :extra {:page 1}}
