{:highlights [{:id #uuid "645a0766-cb44-4014-bbc6-5935f6481639",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 269.8731861114502,
                                     :x2 677.1198338866234,
                                     :y2 437.3564929962158,
                                     :width 767.0000000000001,
                                     :height 992.5882352941178},
                          :rects ({:x1 0,
                                   :y1 269.8731861114502,
                                   :x2 0,
                                   :y2 289.5912036895752,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 285.87695503234863,
                                   :x2 0,
                                   :y2 305.59495735168457,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 301.88072395324707,
                                   :x2 0,
                                   :y2 321.59874153137207,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 112.77950185537338,
                                   :y1 368.8911609649658,
                                   :x2 677.1198338866234,
                                   :y2 385.32283210754395,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 386.3326892852783,
                                   :x2 676.9389256834984,
                                   :y2 402.76436042785645,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 403.48326301574707,
                                   :x2 676.7623509764671,
                                   :y2 419.9149341583252,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 420.92479133605957,
                                   :x2 314.9960545897484,
                                   :y2 437.3564929962158,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}),
                          :page 6},
               :content {:text "And I haven’t even mentioned the lack of mathematical criticism in school. At no time are students let in on the secret that mathematics, like any literature, is created by human beings for their own amusement; that works of mathematics are subject to critical appraisal; that one can have and develop mathematical taste"},
               :properties {:color "green"}}
              {:id #uuid "645a08e1-26f6-4e41-8f2d-0d4f82f46642",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 77.82794952392578,
                                     :x2 676.8130940794945,
                                     :y2 269.5308532714844,
                                     :width 767.0000000000001,
                                     :height 992.5882352941178},
                          :rects ({:x1 0,
                                   :y1 77.82794952392578,
                                   :x2 0,
                                   :y2 97.54595947265625,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 116.69914144277573,
                                   :y1 235.64051818847656,
                                   :x2 676.8130940794945,
                                   :y2 252.07219696044922,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 116.69914144277573,
                                   :y1 253.09917449951172,
                                   :x2 421.7871922850609,
                                   :y2 269.5308532714844,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}),
                          :page 8},
               :content {:text "here is surely no more reliable way to kill enthusiasm and interest in a subject than to make it a mandatory part of the school curriculum. "},
               :properties {:color "green"}}
              {:id #uuid "645a0aca-c821-404a-873f-b6958c567e93",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 349.89202880859375,
                                     :x2 676.7154149413109,
                                     :y2 582.0408020019531,
                                     :width 767.0000000000001,
                                     :height 992.5882352941178},
                          :rects ({:x1 0,
                                   :y1 349.89202880859375,
                                   :x2 0,
                                   :y2 369.6100311279297,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 365.8957977294922,
                                   :x2 0,
                                   :y2 385.6138000488281,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 531.0170288085938,
                                   :x2 676.7154149413109,
                                   :y2 547.4486999511719,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 548.1676025390625,
                                   :x2 676.4262914061546,
                                   :y2 564.5992736816406,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 565.609130859375,
                                   :x2 478.26238149404526,
                                   :y2 582.0408020019531,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}),
                          :page 8},
               :content {:text "To do mathematics is to engage in an act of discovery and conjecture, intuition and inspiration; to be in a state of confusion— not because it makes no sense to you, but because you gave it sense and you still don’t understand what your creation is up to"},
               :properties {:color "green"}}
              {:id #uuid "645a0b1b-9ea5-4a13-8f01-686104aaf72c",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 589.9485473632812,
                                     :x2 676.8315038084984,
                                     :y2 894.55078125,
                                     :width 767.0000000000001,
                                     :height 992.5882352941178},
                          :rects ({:x1 0,
                                   :y1 589.9485473632812,
                                   :x2 0,
                                   :y2 609.6665649414062,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 605.9523162841797,
                                   :x2 0,
                                   :y2 625.6703338623047,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 621.9560852050781,
                                   :x2 0,
                                   :y2 641.6741027832031,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 180.45748037099838,
                                   :y1 808.6439208984375,
                                   :x2 586.2321385741234,
                                   :y2 825.0755920410156,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 180.45748037099838,
                                   :y1 826.08544921875,
                                   :x2 482.8052586913109,
                                   :y2 842.5171203613281,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 112.77950185537338,
                                   :y1 860.9856567382812,
                                   :x2 676.8315038084984,
                                   :y2 877.4173278808594,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 878.1191101074219,
                                   :x2 586.3763036131859,
                                   :y2 894.55078125,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}),
                          :page 8},
               :content {:text "Suppose I am given the sum and difference of two numbers. How can I figure out what the numbers are themselves? Here is a simple and elegant question, and it requires no effort to be made appealing. The ancient Babylonians enjoyed working on such problems, and so do our students"},
               :properties {:color "green"}}
              {:id #uuid "645a0bd4-465f-4c48-ba55-123163a317bf",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 573.9448089599609,
                                     :x2 676.1791600584984,
                                     :y2 767.3251037597656,
                                     :width 767.0000000000001,
                                     :height 992.5882352941178},
                          :rects ({:x1 0,
                                   :y1 573.9448089599609,
                                   :x2 0,
                                   :y2 593.6628265380859,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 0,
                                   :y1 589.9485778808594,
                                   :x2 0,
                                   :y2 609.6665954589844,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 112.77950185537338,
                                   :y1 716.3013305664062,
                                   :x2 676.1791600584984,
                                   :y2 732.7330017089844,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 733.451904296875,
                                   :x2 674.9106053709984,
                                   :y2 749.8835754394531,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}
                                  {:x1 90.22017568349838,
                                   :y1 750.8934326171875,
                                   :x2 368.469595849514,
                                   :y2 767.3251037597656,
                                   :width 767.0000000000001,
                                   :height 992.5882352941178}),
                          :page 9},
               :content {:text "A good problem is something you don’t know how to solve. That’s what makes it a good puzzle, and a good opportunity. A good problem does not just sit there in isolation, but serves as a springboard to other interesting questions. "},
               :properties {:color "green"}}
              {:id #uuid "645b3c26-f81b-4bf8-9415-cd6d6b608083",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 318.43221282958984,
                                     :x2 697.3198887109756,
                                     :y2 647.8445434570312,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 318.43221282958984,
                                   :x2 0,
                                   :y2 337.60250091552734,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 334.4359817504883,
                                   :x2 0,
                                   :y2 353.6062774658203,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 648.3350254297256,
                                   :y1 594.6897888183594,
                                   :x2 697.3198887109756,
                                   :y2 612.2169189453125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 612.3452758789062,
                                   :x2 697.1856724023819,
                                   :y2 629.8724060058594,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 630.3174133300781,
                                   :x2 607.1035801172256,
                                   :y2 647.8445434570312,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 10},
               :content {:text " I doubt that most teachers even want to have such an intense relationship with their students. It requires too much vulnerability and too much responsibility— in short, it’s too much work!"},
               :properties {:color "green"}}
              {:id #uuid "645b3cce-6516-4fe3-ac45-91cd6e17a18f",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 174.39830017089844,
                                     :x2 697.4144397974014,
                                     :y2 343.9269561767578,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 174.39830017089844,
                                   :x2 0,
                                   :y2 193.56858825683594,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 190.4020538330078,
                                   :x2 0,
                                   :y2 209.5723419189453,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 206.4058380126953,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 338.92047464847565,
                                   :y1 272.4919891357422,
                                   :x2 696.6314731836319,
                                   :y2 290.0190887451172,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 290.46412658691406,
                                   :x2 697.4144397974014,
                                   :y2 307.99122619628906,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 308.4276885986328,
                                   :x2 697.0484195947647,
                                   :y2 325.95484924316406,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 326.3998565673828,
                                   :x2 327.72671854496,
                                   :y2 343.9269561767578,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 11},
               :content {:text "Why is it that we accept math teachers who have never produced an original piece of mathematics, know nothing of the history and philosophy of the subject, nothing about recent developments, nothing in fact beyond what they are expected to present to their unfortunate students? "},
               :properties {:color "green"}}
              {:id #uuid "645b8e42-9723-4718-8220-4b63a2b0abf1",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 414.45483016967773,
                                     :x2 697.0477939844131,
                                     :y2 594.2447662353516,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 414.45483016967773,
                                   :x2 0,
                                   :y2 433.62511825561523,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 116.16853678226471,
                                   :y1 558.7540588378906,
                                   :x2 697.0477939844131,
                                   :y2 576.2811737060547,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 576.7176361083984,
                                   :x2 651.7765537500381,
                                   :y2 594.2447662353516,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 11},
               :content {:text "Teaching is not about information. It’s about having an honest intellectual relationship with your students. It requires no method, no tools, and no training. Just the ability to be real."},
               :properties {:color "green"}}
              {:id #uuid "645b90aa-f602-4a04-9618-698793e918f4",
               :page 11,
               :position {:bounding {:x1 116.16853678226471,
                                     :y1 612.3452911376953,
                                     :x2 363.411044716835,
                                     :y2 629.8724060058594,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 116.16853678226471,
                                   :y1 612.3452911376953,
                                   :x2 363.411044716835,
                                   :y2 629.8724060058594,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 11},
               :content {:text "In particular, you can’t teach teaching. "},
               :properties {:color "green"}}
              {:id #uuid "645b90f4-0d94-4d08-8666-790af8e7d3c6",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 494.4736785888672,
                                     :x2 696.8673130273819,
                                     :y2 683.7803039550781,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 494.4736785888672,
                                   :x2 0,
                                   :y2 513.6439666748047,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 280.33218729496,
                                   :y1 648.2810211181641,
                                   :x2 696.8673130273819,
                                   :y2 665.8081359863281,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 92.93311655521393,
                                   :y1 666.253173828125,
                                   :x2 429.3303257226944,
                                   :y2 683.7803039550781,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 11},
               :content {:text "to prepare an organized “lesson plan” (which, by the way, insures that your lesson will be planned, and therefore false),"},
               :properties {:color "green"}}],
 :extra {:page 12}}
