{:highlights [{:id #uuid "6448f42f-6680-450a-95f4-0aff87a6af3b",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 94,
                                     :x2 358.9396667480469,
                                     :y2 383.71875,
                                     :width 544.298776642704,
                                     :height 775.7825703115145},
                          :rects ({:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 194,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 217.15625,
                                   :x2 358.876953125,
                                   :y2 229.15625,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 228.171875,
                                   :x2 358.887939453125,
                                   :y2 240.171875,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 239.234375,
                                   :x2 358.92828369140625,
                                   :y2 251.234375,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 250.25,
                                   :x2 358.89410400390625,
                                   :y2 262.25,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 261.328125,
                                   :x2 358.9228210449219,
                                   :y2 273.328125,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 272.34375,
                                   :x2 358.7076416015625,
                                   :y2 284.34375,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 283.359375,
                                   :x2 358.9277648925781,
                                   :y2 295.359375,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 294.4375,
                                   :x2 358.93670654296875,
                                   :y2 306.4375,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 305.453125,
                                   :x2 358.8844909667969,
                                   :y2 317.453125,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 316.515625,
                                   :x2 358.9231872558594,
                                   :y2 328.515625,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 327.53125,
                                   :x2 358.8985595703125,
                                   :y2 339.53125,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 338.546875,
                                   :x2 358.9396667480469,
                                   :y2 350.546875,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 349.625,
                                   :x2 358.8849792480469,
                                   :y2 361.625,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 360.640625,
                                   :x2 358.8813781738281,
                                   :y2 372.640625,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}
                                  {:x1 79.453125,
                                   :y1 371.71875,
                                   :x2 252.3780517578125,
                                   :y2 383.71875,
                                   :width 544.298776642704,
                                   :height 775.7825703115145}),
                          :page 2},
               :content {:text "There is an increasing movement in education towards closer collaboration between researchers and practitioners and researchpractice partnerships (RPPs) are seen as one promising approach. However, some challenges still exist. To work in a new collaborative context such as RPPs, researchers and practitioners must adjust their roles in relation to each other. To better inform this movement, we conducted a systematic literature review of 80 articles investigating what roles researchers and practitioners are described to assume in RPPs. The results demonstrate eight different roles for researchers and practitioners, respectively, which reflect variations in both the main processes and tasks for school improvement in RPPs, as well as how these tasks are divided between the participants. Further, based on how tasks are distributed, the different roles provide varying opportunities to pursue a democratisation of evidence."},
               :properties {:color "green"}}
              {:id #uuid "6448f6f4-ab38-44df-bd4c-48a180e31806",
               :page 11,
               :position {:bounding {:x1 53.625,
                                     :y1 539.59375,
                                     :x2 137.0146484375,
                                     :y2 549.59375,
                                     :width 441,
                                     :height 628.5520530059121},
                          :rects ({:x1 53.625,
                                   :y1 539.59375,
                                   :x2 137.0146484375,
                                   :y2 549.59375,
                                   :width 441,
                                   :height 628.5520530059121}),
                          :page 11},
               :content {:text "Inquiry partnerships"},
               :properties {:color "green"}}
              {:id #uuid "6448f72e-3705-4f57-9e29-942d0ebd3f37",
               :page 13,
               :position {:bounding {:x1 53.625,
                                     :y1 324.40625,
                                     :x2 136.0382537841797,
                                     :y2 334.40625,
                                     :width 441,
                                     :height 628.5520530059121},
                          :rects ({:x1 53.625,
                                   :y1 324.40625,
                                   :x2 136.0382537841797,
                                   :y2 334.40625,
                                   :width 441,
                                   :height 628.5520530059121}),
                          :page 13},
               :content {:text "Design partnerships"},
               :properties {:color "green"}}
              {:id #uuid "6448f73e-0342-410a-8921-fcd1780fcf9a",
               :page 14,
               :position {:bounding {:x1 53.625,
                                     :y1 319.4375,
                                     :x2 166.46304321289062,
                                     :y2 329.4375,
                                     :width 441,
                                     :height 628.5520530059121},
                          :rects ({:x1 53.625,
                                   :y1 319.4375,
                                   :x2 166.46304321289062,
                                   :y2 329.4375,
                                   :width 441,
                                   :height 628.5520530059121}),
                          :page 14},
               :content {:text "Dissemination partnerships"},
               :properties {:color "green"}}],
 :extra {:page 8}}
