{:highlights [{:id #uuid "63fb54da-0cf5-48a7-b4a5-67a3ae0b047a",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 442.078125,
                                     :x2 726.1845703125,
                                     :y2 1186,
                                     :width 799.9999999999999,
                                     :height 1058.4615384615383},
                          :rects ({:x1 629.015625,
                                   :y1 442.078125,
                                   :x2 726.137451171875,
                                   :y2 457.078125,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 412.296875,
                                   :y1 458.484375,
                                   :x2 726.139892578125,
                                   :y2 473.484375,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 412.296875,
                                   :y1 474.90625,
                                   :x2 726.1845703125,
                                   :y2 489.90625,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 412.296875,
                                   :y1 491.3125,
                                   :x2 726.1419677734375,
                                   :y2 506.3125,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 412.296875,
                                   :y1 507.71875,
                                   :x2 726.1766967773438,
                                   :y2 522.71875,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 412.296875,
                                   :y1 524.125,
                                   :x2 594.299560546875,
                                   :y2 541.125,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 0,
                                   :y1 1102,
                                   :x2 0,
                                   :y2 1122,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 0,
                                   :y1 1118,
                                   :x2 0,
                                   :y2 1138,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 0,
                                   :y1 1134,
                                   :x2 0,
                                   :y2 1154,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 0,
                                   :y1 1150,
                                   :x2 0,
                                   :y2 1170,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}
                                  {:x1 0,
                                   :y1 1166,
                                   :x2 0,
                                   :y2 1186,
                                   :width 799.9999999999999,
                                   :height 1058.4615384615383}),
                          :page 9},
               :content {:text "Transdisciplinary involves scientists from different disciplines as well as nonscientists and other stakeholders and, through role release and role expansion, transcends (hence “trans”) the disciplinary boundaries to look at the dynamics of whole systems in a holistic way"},
               :properties {:color "green"}}
              {:id #uuid "64a42172-3d5e-47fa-b79c-bc7fdb91c964",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 94,
                                     :x2 409.1511535644531,
                                     :y2 892.3359375,
                                     :width 843.9999999999999,
                                     :height 1116.676923076923},
                          :rects ({:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 754.6484375,
                                   :x2 409.08447265625,
                                   :y2 771.1484375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 771.9609375,
                                   :x2 409.1169738769531,
                                   :y2 788.4609375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 789.2734375,
                                   :x2 277.1783447265625,
                                   :y2 805.7734375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 294.859375,
                                   :y1 789.2734375,
                                   :x2 409.0315856933594,
                                   :y2 805.7734375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 806.5859375,
                                   :x2 409.12115478515625,
                                   :y2 823.0859375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 823.8984375,
                                   :x2 409.1511535644531,
                                   :y2 840.3984375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 841.2109375,
                                   :x2 408.8977966308594,
                                   :y2 857.7109375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 858.5234375,
                                   :x2 409.0938415527344,
                                   :y2 875.0234375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}
                                  {:x1 77.90625,
                                   :y1 875.8359375,
                                   :x2 399.7123107910156,
                                   :y2 892.3359375,
                                   :width 843.9999999999999,
                                   :height 1116.676923076923}),
                          :page 1},
               :content {:text "Background/Purpose. Teamwork involving multiple disciplines is increasingly emphasized in health research, services, education and policy. The terms multidisciplinary, interdisciplinary and transdisciplinary are increasingly used in the literature, but are ambiguously defined and interchangeably used. This paper is the first of two in a series. It discusses the definitions, objectives, and evidence of effectiveness of such teamwork."},
               :properties {:color "green"}}],
 :extra {:page 9}}
