{:highlights [{:id #uuid "6448da86-101c-4fba-9d2c-60d62d49fc35",
               :page 7,
               :position {:bounding {:x1 439.484375,
                                     :y1 143.015625,
                                     :x2 472.54022216796875,
                                     :y2 157.015625,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 439.484375,
                                   :y1 143.015625,
                                   :x2 472.54022216796875,
                                   :y2 157.015625,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "robotic"},
               :properties {:color "green"}}
              {:id #uuid "6448dabf-9eca-4bcb-beae-23e7e6efe191",
               :page 7,
               :position {:bounding {:x1 438.4800720214844,
                                     :y1 226.9801025390625,
                                     :x2 512.7018432617188,
                                     :y2 240.9801025390625,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 438.4800720214844,
                                   :y1 226.9801025390625,
                                   :x2 512.7018432617188,
                                   :y2 240.9801025390625,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "contrapositive"},
               :properties {:color "green"}}
              {:id #uuid "6448db66-80ef-41c0-a41f-1917f3743a8e",
               :page 7,
               :position {:bounding {:x1 188.03125,
                                     :y1 402.953125,
                                     :x2 423.4556884765625,
                                     :y2 418.953125,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 188.03125,
                                   :y1 402.953125,
                                   :x2 423.4556884765625,
                                   :y2 418.953125,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "Levels of description & abstraction"},
               :properties {:color "green"}}
              {:id #uuid "64490b90-7858-49d5-be4d-b9aeeaffb9e4",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 398,
                                     :x2 549.2593383789062,
                                     :y2 762.53125,
                                     :width 704,
                                     :height 911.0588235294117},
                          :rects ({:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 153.875,
                                   :y1 721.015625,
                                   :x2 548.8176879882812,
                                   :y2 735.015625,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 153.875,
                                   :y1 734.78125,
                                   :x2 549.2593383789062,
                                   :y2 748.78125,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 153.875,
                                   :y1 748.53125,
                                   :x2 331.3023986816406,
                                   :y2 762.53125,
                                   :width 704,
                                   :height 911.0588235294117}),
                          :page 11},
               :content {:text "This kind of ‘bare bones’ mathematics is useful for rough working or taking lecture notes, where writing speed is paramount. In such cases the work is not intended to be read by anyone else."},
               :properties {:color "green"}}
              {:id #uuid "64490cf3-e06e-4ccb-b432-42ebe51eed2d",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 142,
                                     :x2 556.97998046875,
                                     :y2 354.515625,
                                     :width 704,
                                     :height 911.0588235294117},
                          :rects ({:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 161.59375,
                                   :y1 326.765625,
                                   :x2 350.75,
                                   :y2 340.765625,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 365.96875,
                                   :y1 326.765625,
                                   :x2 556.97998046875,
                                   :y2 340.765625,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 351.5625,
                                   :y1 332.234375,
                                   :x2 365.98675537109375,
                                   :y2 341.234375,
                                   :width 704,
                                   :height 911.0588235294117}
                                  {:x1 161.578125,
                                   :y1 340.515625,
                                   :x2 283.96343994140625,
                                   :y2 354.515625,
                                   :width 704,
                                   :height 911.0588235294117}),
                          :page 15},
               :content {:text "Double indexed expressions such as xαi can often be avoided by reconsidering your original definitions."},
               :properties {:color "green"}}],
 :extra {:page 28}}
