{:highlights [{:id #uuid "6448da86-101c-4fba-9d2c-60d62d49fc35",
               :page 7,
               :position {:bounding {:x1 439.484375,
                                     :y1 143.015625,
                                     :x2 472.54022216796875,
                                     :y2 157.015625,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 439.484375,
                                   :y1 143.015625,
                                   :x2 472.54022216796875,
                                   :y2 157.015625,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "robotic"},
               :properties {:color "green"}}
              {:id #uuid "6448dabf-9eca-4bcb-beae-23e7e6efe191",
               :page 7,
               :position {:bounding {:x1 438.4800720214844,
                                     :y1 226.9801025390625,
                                     :x2 512.7018432617188,
                                     :y2 240.9801025390625,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 438.4800720214844,
                                   :y1 226.9801025390625,
                                   :x2 512.7018432617188,
                                   :y2 240.9801025390625,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "contrapositive"},
               :properties {:color "green"}}
              {:id #uuid "6448db66-80ef-41c0-a41f-1917f3743a8e",
               :page 7,
               :position {:bounding {:x1 188.03125,
                                     :y1 402.953125,
                                     :x2 423.4556884765625,
                                     :y2 418.953125,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 188.03125,
                                   :y1 402.953125,
                                   :x2 423.4556884765625,
                                   :y2 418.953125,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "Levels of description & abstraction"},
               :properties {:color "green"}}],
 :extra {:page 3}}
