{:highlights [{:id #uuid "66009c55-dda9-4d48-8e99-c6aa357024c4",
               :page 1,
               :position {:bounding {:x1 115.15312957763672,
                                     :y1 559.6500091552734,
                                     :x2 628.1855392456055,
                                     :y2 846.9469146728516,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 115.15312957763672,
                                   :y1 559.6500091552734,
                                   :x2 628.1855392456055,
                                   :y2 581.8500213623047,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 581.6156463623047,
                                   :x2 627.7259521484375,
                                   :y2 603.8156585693359,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 603.5812835693359,
                                   :x2 627.836051940918,
                                   :y2 625.7812652587891,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 625.5468902587891,
                                   :x2 627.465576171875,
                                   :y2 647.7469024658203,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 648.1875152587891,
                                   :x2 626.124626159668,
                                   :y2 670.3875274658203,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 670.1531524658203,
                                   :x2 626.6751022338867,
                                   :y2 692.3531646728516,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 692.1093902587891,
                                   :x2 627.4506759643555,
                                   :y2 714.3094024658203,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 714.2437896728516,
                                   :x2 627.4971237182617,
                                   :y2 736.4438018798828,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 736.2094268798828,
                                   :x2 627.6741256713867,
                                   :y2 758.4093780517578,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 758.1750030517578,
                                   :x2 627.097282409668,
                                   :y2 780.3750152587891,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 780.3094024658203,
                                   :x2 627.1369552612305,
                                   :y2 802.5094146728516,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 802.2750396728516,
                                   :x2 627.1574630737305,
                                   :y2 824.4750518798828,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15312957763672,
                                   :y1 824.7469024658203,
                                   :x2 254.67906951904297,
                                   :y2 846.9469146728516,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "In this paper, we describe our approach in addressing learning challenges students experience in introductory programming courses. We combine two effective instructional methodologies to help students learn to plan programs prior to writing code: Cognitive Apprenticeship Learning (CAL) and Cognitive Tutors(CT). In the CAL component, the instructor models program planning in class and paper handouts are used to scaffold program planning in homework assignments. In CAL-CT, the programplanning process is also supported by a computer tutor which provides step-by-step feedback and advice. The results show that the combined CAL-CT approach yielded substantial gains over traditional instruction. Its advantage over the CAL-Only approach is also significant."},
               :properties {:color "blue"}}],
 :extra {:page 2}}
