{:highlights [{:id #uuid "645a7b1d-e93d-4e93-a47d-1cc1613367f3",
               :page 4,
               :position {:bounding {:x1 77,
                                     :y1 118.3896484375,
                                     :x2 937,
                                     :y2 609.3896484375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1683651354995},
               :properties {:color "green"}}
              {:id #uuid "645a7b75-470a-4e9e-b411-43d3b281921a",
               :page 4,
               :position {:bounding {:x1 106.25818252563477,
                                     :y1 1145.6131591796875,
                                     :x2 401.8401069641113,
                                     :y2 1163.1402587890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 106.25818252563477,
                                   :y1 1145.6131591796875,
                                   :x2 401.8401069641113,
                                   :y2 1163.1402587890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "3.1.2 Explanation goals undermine design goals. "},
               :properties {:color "green"}}],
 :extra {:page 4}}
