{:highlights [{:id #uuid "645e6d8f-4eb6-4d35-b0e1-3e7a47eb2c3b",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 142.3907470703125,
                                     :x2 370.6077686548233,
                                     :y2 479.2401428222656,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 142.3907470703125,
                                   :x2 0,
                                   :y2 161.56105041503906,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 158.39451599121094,
                                   :x2 0,
                                   :y2 177.5648193359375,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 174.39828491210938,
                                   :x2 0,
                                   :y2 193.56858825683594,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 190.4020538330078,
                                   :x2 0,
                                   :y2 209.57235717773438,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 206.40582275390625,
                                   :x2 0,
                                   :y2 225.5761260986328,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 222.40960693359375,
                                   :x2 0,
                                   :y2 241.57989501953125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 238.4133758544922,
                                   :x2 0,
                                   :y2 257.5836486816406,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 254.41714477539062,
                                   :x2 0,
                                   :y2 273.5874328613281,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 286.4246826171875,
                                   :x2 0,
                                   :y2 305.594970703125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 302.4284362792969,
                                   :x2 0,
                                   :y2 321.5987243652344,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 304.05450439453125,
                                   :x2 370.6014515161514,
                                   :y2 317.1998291015625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 315.6251220703125,
                                   :x2 370.6066700220108,
                                   :y2 328.7704772949219,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 318.4322204589844,
                                   :x2 0,
                                   :y2 337.6025085449219,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 327.204345703125,
                                   :x2 370.6031299829483,
                                   :y2 340.34967041015625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 334.43597412109375,
                                   :x2 0,
                                   :y2 353.60626220703125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 338.77496337890625,
                                   :x2 370.5911594629288,
                                   :y2 351.9203186035156,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 350.3456115722656,
                                   :x2 370.6076160669327,
                                   :y2 363.490966796875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 350.43975830078125,
                                   :x2 0,
                                   :y2 369.61004638671875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 361.9248046875,
                                   :x2 370.60135996341705,
                                   :y2 375.0701599121094,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 373.4954528808594,
                                   :x2 370.23112070560455,
                                   :y2 386.6407775878906,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 385.07464599609375,
                                   :x2 370.5337864160538,
                                   :y2 398.2200012207031,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 396.6452941894531,
                                   :x2 370.60184824466705,
                                   :y2 409.7906188964844,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 408.2244873046875,
                                   :x2 370.42240488529205,
                                   :y2 421.36981201171875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 419.7951354980469,
                                   :x2 370.6037403345108,
                                   :y2 432.9404602050781,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 431.3657531738281,
                                   :x2 370.60367929935455,
                                   :y2 444.5111083984375,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 442.9449462890625,
                                   :x2 370.6077686548233,
                                   :y2 456.0903015136719,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 454.5155944824219,
                                   :x2 370.6016651391983,
                                   :y2 467.66094970703125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 82.56061899662018,
                                   :y1 466.09478759765625,
                                   :x2 318.4944568872452,
                                   :y2 479.2401428222656,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 1},
               :content {:text "Much of learning and reasoning occurs in pedagogical situations – situations in which teachers choose examples with the goal of having a learner infer the concept the teacher has in mind. In this paper, we present a model of teaching and learning in pedagogical settings which predicts what examples teachers should choose and what learners should infer given a teachers’ examples. We present two experiments using a novel experimental paradigm called the rectangle game. The first experiment compares people’s inferences to qualitative model predictions. The second experiment tests people in a situation where pedagogical sampling is not appropriate, ruling out alternative explanations, and suggesting that people use contextappropriate sampling assumptions. We conclude by discussing connections to broader work in inductive reasoning and cognitive development, and outline areas of future work."},
               :properties {:color "green"}}],
 :extra {:page 1}}
