{:highlights [{:id #uuid "646f89cd-9281-4f69-85ce-c6ddbe677152",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 62.212501525878906,
                                     :x2 750.1561298370361,
                                     :y2 558.5906372070312,
                                     :width 809.9999999999999,
                                     :height 1110},
                          :rects ({:x1 0,
                                   :y1 62.212501525878906,
                                   :x2 0,
                                   :y2 81.41250610351562,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 78.21562957763672,
                                   :x2 0,
                                   :y2 97.4156265258789,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 94.21875,
                                   :x2 0,
                                   :y2 113.41875457763672,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 110.22187805175781,
                                   :x2 0,
                                   :y2 129.421875,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 126.22500610351562,
                                   :x2 0,
                                   :y2 145.4250030517578,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 142.22813415527344,
                                   :x2 0,
                                   :y2 161.42813110351562,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 0,
                                   :y1 158.23126220703125,
                                   :x2 0,
                                   :y2 177.43125915527344,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 120.00000190734863,
                                   :y1 364.9875183105469,
                                   :x2 750.1463031768799,
                                   :y2 383.5875244140625,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 389.9906311035156,
                                   :x2 750.0588397979736,
                                   :y2 408.59063720703125,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 414.9844055175781,
                                   :x2 749.7763538360596,
                                   :y2 433.5843811035156,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 439.9875183105469,
                                   :x2 750.0838642120361,
                                   :y2 458.5875244140625,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 464.9906311035156,
                                   :x2 750.1250019073486,
                                   :y2 483.59063720703125,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 489.9844055175781,
                                   :x2 748.3437519073486,
                                   :y2 508.5843811035156,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 514.987548828125,
                                   :x2 750.1561298370361,
                                   :y2 533.5875244140625,
                                   :width 809.9999999999999,
                                   :height 1110}
                                  {:x1 90.00000190734863,
                                   :y1 539.9906616210938,
                                   :x2 401.1464099884033,
                                   :y2 558.5906372070312,
                                   :width 809.9999999999999,
                                   :height 1110}),
                          :page 1},
               :content {:text "Since the 1960s, computer scientists and enthusiasts have paralleled computer programming to literacy, arguing it is a generalizable skill that should be more widely taught and held. Launching from that premise, this article leverages historical and social findings from literacy studies to frame computer programming as “computational literacy.” I argue that programming and writing have followed similar historical trajectories as material technologies and explain how they are intertwined in contemporary composition environments. A concept of “computational literacy” helps us to better understand the social, technical and cultural dynamics of programming, but it also enriches our vision of twenty-first century composition."},
               :properties {:color "green"}}],
 :extra {:page 1}}
