{:highlights [{:id #uuid "646ca988-c9a4-498e-9f8b-759ad86c071b",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 462.46612548828125,
                                     :x2 381.42731058597565,
                                     :y2 733.5631103515625,
                                     :width 789.9999999999999,
                                     :height 1022.3529411764705},
                          :rects ({:x1 0,
                                   :y1 462.46612548828125,
                                   :x2 0,
                                   :y2 481.63641357421875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 478.46990966796875,
                                   :x2 0,
                                   :y2 497.64019775390625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 494.4736633300781,
                                   :x2 0,
                                   :y2 513.6439819335938,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 510.4774475097656,
                                   :x2 0,
                                   :y2 529.647705078125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 526.481201171875,
                                   :x2 0,
                                   :y2 545.6514892578125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 542.4849853515625,
                                   :x2 0,
                                   :y2 561.6552734375,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.0900684595108,
                                   :y1 550.6665649414062,
                                   :x2 379.6386219263077,
                                   :y2 563.8119506835938,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 558.48876953125,
                                   :x2 0,
                                   :y2 577.6590576171875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 564.813232421875,
                                   :x2 379.4653354883194,
                                   :y2 577.9585571289062,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 574.4924926757812,
                                   :x2 0,
                                   :y2 593.6627807617188,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.14997446537018,
                                   :y1 578.9598999023438,
                                   :x2 379.0617176294327,
                                   :y2 592.105224609375,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 590.4962768554688,
                                   :x2 0,
                                   :y2 609.6665649414062,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 593.1065063476562,
                                   :x2 381.42731058597565,
                                   :y2 606.2518920898438,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 606.5000610351562,
                                   :x2 0,
                                   :y2 625.6703491210938,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 607.253173828125,
                                   :x2 379.65155375003815,
                                   :y2 620.3984985351562,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 621.3998413085938,
                                   :x2 379.6473423242569,
                                   :y2 634.545166015625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 622.5038452148438,
                                   :x2 0,
                                   :y2 641.6741333007812,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 635.5464477539062,
                                   :x2 379.6478306055069,
                                   :y2 648.6918334960938,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 0,
                                   :y1 638.507568359375,
                                   :x2 0,
                                   :y2 657.6778564453125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 649.693115234375,
                                   :x2 379.0705600976944,
                                   :y2 662.8384399414062,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 663.8397827148438,
                                   :x2 380.920322060585,
                                   :y2 676.985107421875,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.0130420923233,
                                   :y1 677.9778442382812,
                                   :x2 379.64530527591705,
                                   :y2 691.1231689453125,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 692.12451171875,
                                   :x2 379.6492038965225,
                                   :y2 705.2698364257812,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.0130420923233,
                                   :y1 706.2711181640625,
                                   :x2 379.6469837427139,
                                   :y2 719.41650390625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}
                                  {:x1 69.44095194339752,
                                   :y1 720.4177856445312,
                                   :x2 332.44110453128815,
                                   :y2 733.5631103515625,
                                   :width 789.9999999999999,
                                   :height 1022.3529411764705}),
                          :page 1},
               :content {:text "The introductory programming sequence has been the focus of much research in computing education. The recent advent of several viable and freely-available AI-driven code generation tools present several immediate opportunities and challenges in this domain. In this position paper we argue that the community needs to act quickly in deciding what possible opportunities can and should be leveraged and how, while also working on overcoming otherwise mitigating the possible challenges. Assuming that the effectiveness and proliferation of these tools will continue to progress rapidly, without quick, deliberate, and concerted efforts, educators will lose advantage in helping shape what opportunities come to be, and what challenges will endure. With this paper we aim to seed this discussion within the computing education community."},
               :properties {:color "green"}}],
 :extra {:page 2}}
