{:highlights [{:id #uuid "64770be0-c46e-48c8-bfa4-e623a378bc0a",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 347.8385009765625,
                                     :y2 374.8828125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 233.953125,
                                   :x2 347.8385009765625,
                                   :y2 245.953125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 246.8515625,
                                   :x2 346.0534973144531,
                                   :y2 258.8515625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 259.7421875,
                                   :x2 347.2157897949219,
                                   :y2 271.7421875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 272.6328125,
                                   :x2 346.0560607910156,
                                   :y2 284.6328125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 285.5234375,
                                   :x2 346.0585632324219,
                                   :y2 297.5234375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 298.421875,
                                   :x2 346.4478759765625,
                                   :y2 310.421875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 311.3125,
                                   :x2 346.06103515625,
                                   :y2 323.3125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 324.203125,
                                   :x2 346.0600891113281,
                                   :y2 336.203125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 337.1015625,
                                   :x2 346.25634765625,
                                   :y2 349.1015625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 349.9921875,
                                   :x2 345.8843994140625,
                                   :y2 361.9921875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 63.2890625,
                                   :y1 362.8828125,
                                   :x2 150.36862182617188,
                                   :y2 374.8828125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 1},
               :content {:text "Becoming “a programmer” is associated with gaining a deep understanding of programming language semantics. However, as more people learn to program for more reasons than creating software, their learning needs differ. In particular, end-user programmers and conversational programmers often care about code’s purpose, but don’t wish to engage with the low-level details of precisely how code executes. I propose the creation of scaffolding that allows these learners to interact with code in an authentic way, highlighting code’s purpose while providing support that avoids the need for low-level tracing knowledge. This scaffolding builds on theories of programming plans."},
               :properties {:color "green"}}],
 :extra {:page 1}}
