{:highlights [{:id #uuid "64a4203f-c86f-4f52-8cc9-cd771d5062c3",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 404.1020812988281,
                                     :y2 537.5625,
                                     :width 844,
                                     :height 1092.235294117647},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 306.671875,
                                   :x2 403.9269714355469,
                                   :y2 321.171875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 337.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 321.09375,
                                   :x2 403.9315185546875,
                                   :y2 335.59375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 353.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 335.5234375,
                                   :x2 403.9284362792969,
                                   :y2 350.0234375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 349.9453125,
                                   :x2 403.93060302734375,
                                   :y2 364.4453125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 369.5,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 364.375,
                                   :x2 403.93994140625,
                                   :y2 378.875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 378.8046875,
                                   :x2 404.1020812988281,
                                   :y2 393.3046875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 393.2265625,
                                   :x2 403.927001953125,
                                   :y2 407.7265625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 407.65625,
                                   :x2 403.9283142089844,
                                   :y2 422.15625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 422.078125,
                                   :x2 403.9307861328125,
                                   :y2 436.578125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 436.5078125,
                                   :x2 403.9298095703125,
                                   :y2 451.0078125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 450.9296875,
                                   :x2 403.92333984375,
                                   :y2 465.4296875,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 465.359375,
                                   :x2 403.9328308105469,
                                   :y2 479.859375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 479.78125,
                                   :x2 403.9229431152344,
                                   :y2 494.28125,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 494.2109375,
                                   :x2 403.9241943359375,
                                   :y2 508.7109375,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 508.640625,
                                   :x2 403.9216003417969,
                                   :y2 523.140625,
                                   :width 844,
                                   :height 1092.235294117647}
                                  {:x1 74.1875,
                                   :y1 523.0625,
                                   :x2 377.8272399902344,
                                   :y2 537.5625,
                                   :width 844,
                                   :height 1092.235294117647}),
                          :page 2},
               :content {:text "On the basis of cognitive load theory, theoretical models of instructional design, and empirical findings from computing education research, we propose three independent but compatible and complementary frameworks that can be used in introductory programming education. Motivate–isolate– practice–integrate is a framework that marries project-driven learning to careful management of cognitive load through the selection of learning activities and the isolation of partial tasks. Head Straight for Objects is an outline of an introduction to programming that emphasizes object-orientation early while mediating the cognitive load intrinsic to objectoriented concepts. Finally, the principle of explicit program dynamics states that the runtime dynamics of programs should be a continuous and explicit theme in introductory programming education. We illustrate the application of the three frameworks in the context of a university course."},
               :properties {:color "green"}}],
 :extra {:page 2}}
