{:highlights [{:id #uuid "6480b003-0884-4c9b-9472-6b52bdee06d6",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 94,
                                     :x2 598.7604370117188,
                                     :y2 360.390625,
                                     :width 719.9999999999999,
                                     :height 1131.4285714285713},
                          :rects ({:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 176.09259033203125,
                                   :y1 296.8046875,
                                   :x2 549.765625,
                                   :y2 309.3046875,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 559.8828125,
                                   :y1 296.8046875,
                                   :x2 598.7371215820312,
                                   :y2 309.3046875,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 122.0546875,
                                   :y1 309.484375,
                                   :x2 596.34326171875,
                                   :y2 321.984375,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.7109375,
                                   :y1 322.515625,
                                   :x2 598.7604370117188,
                                   :y2 335.015625,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.3671875,
                                   :y1 335.203125,
                                   :x2 596.745849609375,
                                   :y2 347.703125,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.3671875,
                                   :y1 347.890625,
                                   :x2 293.54388427734375,
                                   :y2 360.390625,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}),
                          :page 1},
               :content {:text "upling the recently proposed syntactic/semantic model of programmer behavior[I] with classic educational psychological theories yields new insights to teaching programming to novices. These new insights should make programming education more natural to students. alleviate “computer shock” (the analog of “math anxiety”[Z]) and promote the development of widespread “computer literacy”."},
               :properties {:color "green"}}
              {:id #uuid "6480b01e-a99c-4e3f-b45d-07ab057b15a9",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 603.546875,
                                     :y2 437.53125,
                                     :width 719.9999999999999,
                                     :height 1131.4285714285713},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 133.0234375,
                                   :y1 361.6015625,
                                   :x2 603.546875,
                                   :y2 374.1015625,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.7109375,
                                   :y1 374.2890625,
                                   :x2 599.7647705078125,
                                   :y2 386.7890625,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 122.0546875,
                                   :y1 387.3125,
                                   :x2 599.7962036132812,
                                   :y2 399.8125,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.0234375,
                                   :y1 400,
                                   :x2 518.2734375,
                                   :y2 412.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 529.0234375,
                                   :y1 400,
                                   :x2 598.4056396484375,
                                   :y2 412.5,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.7109375,
                                   :y1 412.6875,
                                   :x2 597.3370971679688,
                                   :y2 425.1875,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}
                                  {:x1 121.7109375,
                                   :y1 425.03125,
                                   :x2 178.44947814941406,
                                   :y2 437.53125,
                                   :width 719.9999999999999,
                                   :height 1131.4285714285713}),
                          :page 1},
               :content {:text "The spiral approach is the parallel acquisition of syntactic and semantic knowledge in a sequence which provokes student interest by using meaningful examples, builds on previous knowledge. is in harmony with the student’s cognitive skills, provides reinforcement of recently acquired material and develops confidence through successful accomplishment of increasingly difficult tasks. The relationship of structured programming and flowcharts to the spiral approach is discussed."},
               :properties {:color "green"}}],
 :extra {:page 1}}
