{:highlights [{:id #uuid "6448d911-d70b-4d8e-9ec0-461f915e21aa",
               :page 7,
               :position {:bounding {:x1 133.47344970703125,
                                     :y1 152.796875,
                                     :x2 459.1960144042969,
                                     :y2 166.796875,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 133.47344970703125,
                                   :y1 152.796875,
                                   :x2 459.1960144042969,
                                   :y2 166.796875,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "My advice about the use of words can be summed up as follows"},
               :properties {:color "green"}}],
 :extra {:page 1}}
