{:highlights [{:id #uuid "6448d911-d70b-4d8e-9ec0-461f915e21aa",
               :page 7,
               :position {:bounding {:x1 133.47344970703125,
                                     :y1 152.796875,
                                     :x2 459.1960144042969,
                                     :y2 166.796875,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 133.47344970703125,
                                   :y1 152.796875,
                                   :x2 459.1960144042969,
                                   :y2 166.796875,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "My advice about the use of words can be summed up as follows"},
               :properties {:color "green"}}
              {:id #uuid "644b7f13-8f17-44fc-a740-5c45901b81d4",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 696.9921264648438,
                                     :y2 457.765625,
                                     :width 819.9999999999999,
                                     :height 1061.1764705882351},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 151.48648071289062,
                                   :y1 426.75,
                                   :x2 696.9921264648438,
                                   :y2 441.75,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 156.359375,
                                   :y1 442.765625,
                                   :x2 189.36988830566406,
                                   :y2 457.765625,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}),
                          :page 1},
               :content {:text " Let f (t) be Gryffindor’s score t minutes into a game against Slytherin. f is globberfluxible at t = 3."},
               :properties {:color "green"}}
              {:id #uuid "644b7f3a-dce9-4749-974c-fd8e9c042695",
               :page 1,
               :position {:bounding {:x1 212.71875,
                                     :y1 464.125,
                                     :x2 589.3436889648438,
                                     :y2 479.125,
                                     :width 819.9999999999999,
                                     :height 1061.1764705882351},
                          :rects ({:x1 212.71875,
                                   :y1 464.125,
                                   :x2 589.3436889648438,
                                   :y2 479.125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}),
                          :page 1},
               :content {:text "Don’t start a sentence with a formula or a mathematical symbol."},
               :properties {:color "green"}}
              {:id #uuid "644b7f4b-e3e9-4d07-9ff3-a9ef0e1d2d6d",
               :page 1,
               :position {:bounding {:x1 156.359375,
                                     :y1 485.484375,
                                     :x2 404.572998046875,
                                     :y2 500.484375,
                                     :width 819.9999999999999,
                                     :height 1061.1764705882351},
                          :rects ({:x1 156.359375,
                                   :y1 485.484375,
                                   :x2 404.572998046875,
                                   :y2 500.484375,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}),
                          :page 1},
               :content {:text "The function f is globberfluxible at x = 3."},
               :properties {:color "green"}}
              {:id #uuid "644bef9a-bf97-4299-a82f-cbdd448289ea",
               :page 1,
               :position {:bounding {:x1 186.7890625,
                                     :y1 468.359375,
                                     :x2 384.49822998046875,
                                     :y2 481.359375,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 186.7890625,
                                   :y1 468.359375,
                                   :x2 384.49822998046875,
                                   :y2 481.359375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 1},
               :content {:text "Distinguish functions and their values."},
               :properties {:color "green"}}
              {:id #uuid "6452023a-5fed-47c4-ad25-2a5d165c8fee",
               :page 1,
               :position {:bounding {:x1 241.0078125,
                                     :y1 712.9921875,
                                     :x2 768.9098510742188,
                                     :y2 730.4921875,
                                     :width 929,
                                     :height 1202.235294117647},
                          :rects ({:x1 241.0078125,
                                   :y1 712.9921875,
                                   :x2 768.9098510742188,
                                   :y2 730.4921875,
                                   :width 929,
                                   :height 1202.235294117647}),
                          :page 1},
               :content {:text "Avoid using symbols if you don’t need them. Halmos: “use no letter only once”."},
               :properties {:color "green"}}
              {:id #uuid "64520296-87d2-4aee-8c63-a9c4569def1e",
               :page 1,
               :position {:bounding {:x1 241.5859375,
                                     :y1 824.8125,
                                     :x2 535.1861572265625,
                                     :y2 842.3125,
                                     :width 929,
                                     :height 1202.235294117647},
                          :rects ({:x1 241.5859375,
                                   :y1 824.8125,
                                   :x2 535.1861572265625,
                                   :y2 842.3125,
                                   :width 929,
                                   :height 1202.235294117647}),
                          :page 1},
               :content {:text "Avoid using symbols if you don’t need them."},
               :properties {:color "green"}}],
 :extra {:page 2}}
