{:highlights [{:id #uuid "645e973e-3420-4dce-b667-0ea04e176ab6",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 30.3643798828125,
                                     :x2 794.9889144897461,
                                     :y2 456.2443542480469,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 30.3643798828125,
                                   :x2 0,
                                   :y2 49.53466796875,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 46.36814880371094,
                                   :x2 0,
                                   :y2 65.53843688964844,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 62.371917724609375,
                                   :x2 0,
                                   :y2 81.54220581054688,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 78.37568664550781,
                                   :x2 0,
                                   :y2 97.54597473144531,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 94.37945556640625,
                                   :x2 0,
                                   :y2 113.54974365234375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 110.38320922851562,
                                   :x2 0,
                                   :y2 129.55349731445312,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 126.38699340820312,
                                   :x2 0,
                                   :y2 145.55728149414062,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 142.3907470703125,
                                   :x2 0,
                                   :y2 161.56103515625,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 145.9081573486328,
                                   :y1 191.90829467773438,
                                   :x2 793.5969390869141,
                                   :y2 212.17404174804688,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 222.50375366210938,
                                   :x2 794.8002548217773,
                                   :y2 242.76947021484375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 252.91946411132812,
                                   :x2 794.9889144897461,
                                   :y2 273.1852111816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 283.5234680175781,
                                   :x2 793.938232421875,
                                   :y2 303.7891845703125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 313.9391784667969,
                                   :x2 794.3637313842773,
                                   :y2 334.2049255371094,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 344.53460693359375,
                                   :x2 794.9398803710938,
                                   :y2 364.8003845214844,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 374.9588928222656,
                                   :x2 794.1990966796875,
                                   :y2 395.2246398925781,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 405.5543518066406,
                                   :x2 794.9770126342773,
                                   :y2 425.8200988769531,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 435.9786071777344,
                                   :x2 680.3707504272461,
                                   :y2 456.2443542480469,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 14},
               :content {:text "The Theory of Applied Mind of Programming (TAMP) provides a new model for describing how programmers think and learn. Historically, many students have struggled when learning to program. Programming as a discipline lives in logic and reason, but theory and science tell us that people do not always think rationally. TAMP builds upon the groundbreaking work of dual process theory and classical educational theorists (Piaget, Vygotsky, and Bruner) to rethink our assumptions about cognition and learning. Theory guides educators and researchers to improve their practice, not just their work but also their thinking. TAMP provides new theoretical constructs for describing the mental activities of programming, the challenges in learning to program, as well as a guidebook for creating and recognizing the value of theory."},
               :properties {:color "green"}}
              {:id #uuid "645e9749-f6bb-4259-a2d1-05d2a364a0be",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 174.39828491210938,
                                     :x2 795.2789306640625,
                                     :y2 730.7303771972656,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 174.39828491210938,
                                   :x2 0,
                                   :y2 193.56857299804688,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 190.40206909179688,
                                   :x2 0,
                                   :y2 209.57235717773438,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 206.40582275390625,
                                   :x2 0,
                                   :y2 225.57611083984375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 222.40960693359375,
                                   :x2 0,
                                   :y2 241.57989501953125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 238.41336059570312,
                                   :x2 0,
                                   :y2 257.5836486816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 254.41714477539062,
                                   :x2 0,
                                   :y2 273.5874328613281,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 286.4246826171875,
                                   :x2 0,
                                   :y2 305.594970703125,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 145.9081573486328,
                                   :y1 466.3943176269531,
                                   :x2 795.0645294189453,
                                   :y2 486.6600646972656,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 496.9897766113281,
                                   :x2 795.2789306640625,
                                   :y2 517.2555236816406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 527.4140319824219,
                                   :x2 794.8998641967773,
                                   :y2 547.6797790527344,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 558.0094909667969,
                                   :x2 794.8151473999023,
                                   :y2 578.2752380371094,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 588.4337463378906,
                                   :x2 794.5733871459961,
                                   :y2 608.6994934082031,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 619.0292053222656,
                                   :x2 794.8556747436523,
                                   :y2 639.2949523925781,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 649.4535217285156,
                                   :x2 795.0265121459961,
                                   :y2 669.7192077636719,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 680.0489196777344,
                                   :x2 794.9090194702148,
                                   :y2 700.3146667480469,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 710.4646301269531,
                                   :x2 659.3874740600586,
                                   :y2 730.7303771972656,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 14},
               :content {:text "This dissertation is highly nontraditional. It does not include a typical empirical study using a familiar research methodology to guide data collection and analysis. Instead, it leverages existing data, as accumulated over a half-century of computing education research and a century of research into cognition and learning. Since an applicable methodology of theory-building did not exist, this work also defines a new methodology for theory building. The methodology of this dissertation borrows notation from philosophy and methods from grounded theory to define a transparent and rigorous approach to creating applied theories. By revisiting past studies through the lens of new theoretical propositions, theorists can conceive, refine, and internally validate new constructs and propositions to revolutionize how we view technical education."},
               :properties {:color "green"}}
              {:id #uuid "645e9751-4023-473f-84e2-d1a1254b3a83",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 318.4322052001953,
                                     :x2 795.114990234375,
                                     :y2 1005.4047393798828,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects ({:x1 0,
                                   :y1 318.4322052001953,
                                   :x2 0,
                                   :y2 337.6024932861328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 334.4359893798828,
                                   :x2 0,
                                   :y2 353.6062774658203,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 350.4397430419922,
                                   :x2 0,
                                   :y2 369.6100311279297,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 366.4435272216797,
                                   :x2 0,
                                   :y2 385.6138153076172,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 382.44728088378906,
                                   :x2 0,
                                   :y2 401.61756896972656,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 398.45106506347656,
                                   :x2 0,
                                   :y2 417.62135314941406,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 414.45481872558594,
                                   :x2 0,
                                   :y2 433.62510681152344,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 0,
                                   :y1 430.45860290527344,
                                   :x2 0,
                                   :y2 449.6288604736328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 145.9081573486328,
                                   :y1 741.0686798095703,
                                   :x2 795.0072174072266,
                                   :y2 761.3343658447266,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 771.4843902587891,
                                   :x2 794.1949462890625,
                                   :y2 791.7500762939453,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 802.0797882080078,
                                   :x2 794.6980209350586,
                                   :y2 822.3455352783203,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 832.5041046142578,
                                   :x2 794.0341644287109,
                                   :y2 852.7698516845703,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 863.0995025634766,
                                   :x2 795.114990234375,
                                   :y2 883.3652496337891,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 893.5238189697266,
                                   :x2 793.9854354858398,
                                   :y2 913.7895660400391,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 924.1192169189453,
                                   :x2 794.2314453125,
                                   :y2 944.3849639892578,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 954.5349884033203,
                                   :x2 794.8633041381836,
                                   :y2 974.8007354736328,
                                   :width 902,
                                   :height 1167.294117647059}
                                  {:x1 106.1126937866211,
                                   :y1 985.1389923095703,
                                   :x2 611.2902145385742,
                                   :y2 1005.4047393798828,
                                   :width 902,
                                   :height 1167.294117647059}),
                          :page 14},
               :content {:text "The takeaway from this dissertation is a set of new theoretical constructs and promising research and pedagogical approaches. TAMP proposes an applied model of Jerome Bruner's mental representations that describe the knowledge and cognitive processes of an experienced programmer. TAMP highlights implicit learning and the role of intuition in decision making across many aspects of programming. This work includes numerous examples of how to apply TAMP and its supporting theories in re-imagining teaching and research to offer alternative explanations for previously puzzling findings on student learning. TAMP may challenge conventional beliefs about applied reasoning and the extent of traditional pedagogy, but it also offers insights on how to promote creative problem-solving in students."},
               :properties {:color "green"}}],
 :extra {:page 14}}
