{:highlights [{:id #uuid "640b1be7-2cfc-402c-a9fd-92b8f0fb1c0b",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2.190890312194824,
                                     :x2 305.4237976074219,
                                     :y2 1077.9865480661392,
                                     :width 878,
                                     :height 1175.1692307692308},
                          :rects ({:x1 0,
                                   :y1 -2.190890312194824,
                                   :x2 0,
                                   :y2 17.52712345123291,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 81.04582214355469,
                                   :y1 923.4773927927017,
                                   :x2 304.6864929199219,
                                   :y2 939.9090334177017,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 940.730627655983,
                                   :x2 304.68280029296875,
                                   :y2 957.1623293161392,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 958.0010133981705,
                                   :x2 304.7009620666504,
                                   :y2 974.4327150583267,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 975.254309296608,
                                   :x2 304.72043228149414,
                                   :y2 991.685949921608,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 992.5075441598892,
                                   :x2 304.6680030822754,
                                   :y2 1008.9392458200455,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 1009.7779299020767,
                                   :x2 304.739444732666,
                                   :y2 1026.2095705270767,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 1027.0312258005142,
                                   :x2 305.4237976074219,
                                   :y2 1043.4628664255142,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 1044.3016115427017,
                                   :x2 304.6744918823242,
                                   :y2 1060.7332521677017,
                                   :width 878,
                                   :height 1175.1692307692308}
                                  {:x1 63.0223274230957,
                                   :y1 1061.5547853708267,
                                   :x2 258.52722549438477,
                                   :y2 1077.9865480661392,
                                   :width 878,
                                   :height 1175.1692307692308}),
                          :page 2},
               :content {:text "In this new computer science—if we even call it computer science at all—the machines will be so powerful and already know how to do so many things that the field will look like less of an engineering endeavor and more of an an educational one; that is, how to best educate the machine, not unlike the science of how to best educate children in school."},
               :properties {:color "green"}}],
 :extra {:page 2}}
