{:highlights [{:id #uuid "645fa851-88fd-4f5a-bbf6-9f8598b554f6",
               :page 8,
               :position {:bounding {:x1 105,
                                     :y1 132.46826171875,
                                     :x2 798,
                                     :y2 426.46826171875,
                                     :width 902,
                                     :height 1167.294117647059},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1683990607867},
               :properties {:color "green"}}
              {:id #uuid "645fb0b0-f1eb-4d8c-abd0-05c994cb3fe1",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 446.46237564086914,
                                     :x2 794.1539038866758,
                                     :y2 710.7214050292969,
                                     :width 914.0000000000001,
                                     :height 1182.8235294117649},
                          :rects ({:x1 0,
                                   :y1 446.46237564086914,
                                   :x2 0,
                                   :y2 465.63266372680664,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 0,
                                   :y1 462.4661445617676,
                                   :x2 0,
                                   :y2 481.6364345550537,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 0,
                                   :y1 478.469913482666,
                                   :x2 0,
                                   :y2 497.64020347595215,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 151.50984565913677,
                                   :y1 640.1764526367188,
                                   :x2 793.7525214403868,
                                   :y2 657.1558532714844,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 658.0373382568359,
                                   :x2 793.7645606249571,
                                   :y2 675.0167388916016,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 675.8896636962891,
                                   :x2 794.1539038866758,
                                   :y2 692.8690643310547,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 693.7420043945312,
                                   :x2 498.6742285937071,
                                   :y2 710.7214050292969,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}),
                          :page 7},
               :content {:text "Statements on the level below do not follow from principled models; the models at diferent levels are of logically diferent types. Instead of establishing a deductive or inductive relation, a researcher uses higher-level models to guide the formal structure of lower lever models, with an intention to ind a good it between possibly diferent types of models at diferent levels of abstraction [28]."},
               :properties {:color "green"}}
              {:id #uuid "645fb1c6-b133-4be5-9ad1-4b1de46df10e",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 606.5000686645508,
                                     :x2 795.1515692919493,
                                     :y2 889.2704162597656,
                                     :width 914.0000000000001,
                                     :height 1182.8235294117649},
                          :rects ({:x1 0,
                                   :y1 606.5000686645508,
                                   :x2 0,
                                   :y2 625.6703567504883,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 0,
                                   :y1 622.5038375854492,
                                   :x2 0,
                                   :y2 641.6741180419922,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 0,
                                   :y1 638.5075988769531,
                                   :x2 0,
                                   :y2 657.6778869628906,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 581.8354071825743,
                                   :y1 818.7254638671875,
                                   :x2 795.1515692919493,
                                   :y2 835.704833984375,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 836.5777893066406,
                                   :x2 793.6403998583555,
                                   :y2 853.5571899414062,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 854.4301147460938,
                                   :x2 793.7626685351133,
                                   :y2 871.4095153808594,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}
                                  {:x1 120.51608650386333,
                                   :y1 872.291015625,
                                   :x2 708.0288428515196,
                                   :y2 889.2704162597656,
                                   :width 914.0000000000001,
                                   :height 1182.8235294117649}),
                          :page 7},
               :content {:text " Speciic hypotheses in Fig. 1 can be, for instance, those tested in Kirschner et al.’s [ 41 ] oft-cited critique of unguided learning: łthe hypothesis [is] that people learn best in an unguided or minimally guided environment where they are primarily asked to mimic the problem-solving activities of experts and/or learn and discover collaboratively with others.ž"},
               :properties {:color "green"}}],
 :extra {:page 3}}
