{:highlights [{:id #uuid "645fb2bc-3add-43da-a1a0-3d731d6b6d23",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 254.41712951660156,
                                     :x2 688.9283428192139,
                                     :y2 738.4755401611328,
                                     :width 881.8388195232691,
                                     :height 1141.2031782065835},
                          :rects ({:x1 0,
                                   :y1 254.41712951660156,
                                   :x2 0,
                                   :y2 273.58741760253906,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 286.42466735839844,
                                   :x2 0,
                                   :y2 305.59495544433594,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 302.4284362792969,
                                   :x2 0,
                                   :y2 321.5987243652344,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 318.4322052001953,
                                   :x2 0,
                                   :y2 337.6024932861328,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 334.43597412109375,
                                   :x2 0,
                                   :y2 353.60626220703125,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 350.4397430419922,
                                   :x2 0,
                                   :y2 369.6100311279297,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 366.4435272216797,
                                   :x2 0,
                                   :y2 385.6138153076172,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 0,
                                   :y1 382.44728088378906,
                                   :x2 0,
                                   :y2 401.61756896972656,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 580.4832305908203,
                                   :x2 688.8389873504639,
                                   :y2 595.8194732666016,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 596.3329620361328,
                                   :x2 688.1342144012451,
                                   :y2 611.6691741943359,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 612.1826629638672,
                                   :x2 688.9093608856201,
                                   :y2 627.5189361572266,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 628.0324249267578,
                                   :x2 688.8316631317139,
                                   :y2 643.3686065673828,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 643.8820953369141,
                                   :x2 688.9227886199951,
                                   :y2 659.2183380126953,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60861015319824,
                                   :y1 659.7318267822266,
                                   :x2 688.9283428192139,
                                   :y2 675.0680694580078,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60004997253418,
                                   :y1 675.5901031494141,
                                   :x2 688.9225597381592,
                                   :y2 690.9263458251953,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60004997253418,
                                   :y1 691.4398345947266,
                                   :x2 688.5830211639404,
                                   :y2 706.7760772705078,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60004997253418,
                                   :y1 707.2895660400391,
                                   :x2 688.8900890350342,
                                   :y2 722.6258087158203,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}
                                  {:x1 204.60004997253418,
                                   :y1 723.1392974853516,
                                   :x2 682.4182872772217,
                                   :y2 738.4755401611328,
                                   :width 881.8388195232691,
                                   :height 1141.2031782065835}),
                          :page 2},
               :content {:text "Evidence for the superiority of guided instruction is explained in the context of our knowledge of human cognitive architecture, expert–novice differences, and cognitive load. Although unguided or minimally guided instructional approaches are very popular and intuitively appealing, the point is made that these approaches ignore both the structures that constitute human cognitive architecture and evidence from empirical studies over the past half-century that consistently indicate that minimally guided instruction is less effective and less efficient than instructional approaches that place a strong emphasis on guidance of the student learning process. The advantage of guidance begins to recede only when learners have sufficiently high prior knowledge to provide “internal” guidance. Recent developments in instructional research and instructional design models that support guidance during instruction are briefly described."},
               :properties {:color "green"}}],
 :extra {:page 2}}
