{:highlights [{:id #uuid "645e7027-0558-4605-9bd1-25b6dd518297",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 254.41714477539062,
                                     :x2 713.2665615081787,
                                     :y2 708.855712890625,
                                     :width 779.5266666666666,
                                     :height 1133.8583333333333},
                          :rects ({:x1 0,
                                   :y1 254.41714477539062,
                                   :x2 0,
                                   :y2 273.5874328613281,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 270.4208984375,
                                   :x2 0,
                                   :y2 289.5911865234375,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 286.4246826171875,
                                   :x2 0,
                                   :y2 305.594970703125,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 302.4284362792969,
                                   :x2 0,
                                   :y2 321.5987243652344,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 318.4322204589844,
                                   :x2 0,
                                   :y2 337.6025085449219,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 334.43597412109375,
                                   :x2 0,
                                   :y2 353.60626220703125,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 350.43975830078125,
                                   :x2 0,
                                   :y2 369.61004638671875,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 366.4435119628906,
                                   :x2 0,
                                   :y2 385.6138000488281,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 382.4472961425781,
                                   :x2 0,
                                   :y2 401.6175842285156,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 398.4510498046875,
                                   :x2 0,
                                   :y2 417.621337890625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 414.454833984375,
                                   :x2 0,
                                   :y2 433.6251220703125,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 0,
                                   :y1 430.4585876464844,
                                   :x2 0,
                                   :y2 449.6288757324219,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 503.8277587890625,
                                   :x2 713.2000331878662,
                                   :y2 517.5208129882812,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 519.7973022460938,
                                   :x2 713.260274887085,
                                   :y2 533.4903564453125,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 535.7582397460938,
                                   :x2 713.234395980835,
                                   :y2 549.4513549804688,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 551.727783203125,
                                   :x2 713.1773281097412,
                                   :y2 565.4208374023438,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 567.6032104492188,
                                   :x2 713.2244472503662,
                                   :y2 581.2962646484375,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 583.57275390625,
                                   :x2 713.2665615081787,
                                   :y2 597.2658081054688,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 599.5422973632812,
                                   :x2 407.8484706878662,
                                   :y2 613.2353515625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 418.2032985687256,
                                   :y1 599.5422973632812,
                                   :x2 488.9596767425537,
                                   :y2 613.2353515625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 499.18065452575684,
                                   :y1 599.5422973632812,
                                   :x2 611.9660243988037,
                                   :y2 613.2353515625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 622.3069667816162,
                                   :y1 599.5422973632812,
                                   :x2 713.0836391448975,
                                   :y2 613.2353515625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 615.4176635742188,
                                   :x2 712.9767665863037,
                                   :y2 629.1107177734375,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 631.38720703125,
                                   :x2 713.2565517425537,
                                   :y2 645.0802612304688,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 647.3567504882812,
                                   :x2 713.2074794769287,
                                   :y2 661.0498046875,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 663.2235717773438,
                                   :x2 713.1891078948975,
                                   :y2 676.9166259765625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 679.193115234375,
                                   :x2 713.1824550628662,
                                   :y2 692.8861694335938,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}
                                  {:x1 335.42873191833496,
                                   :y1 695.1626586914062,
                                   :x2 502.57860374450684,
                                   :y2 708.855712890625,
                                   :width 779.5266666666666,
                                   :height 1133.8583333333333}),
                          :page 1},
               :content {:text "Much of learning and reasoning occurs in pedagogical situations— situations in which a person who knows a concept chooses examples for the purpose of helping a learner acquire the concept. We introduce a model of teaching and learning in pedagogical settings that predicts which examples teachers should choose and what learners should infer given a teacher’s examples. We present three experiments testing the model predictions for rule-based, prototype, and causally structured concepts. The model shows good quantitative and qualitative fits to the data across all three experiments, predicting novel qualitative phenomena in each case. We conclude by discussing implications for understanding concept learning and implications for theoretical claims about the role of pedagogy in human learning."},
               :properties {:color "green"}}],
 :extra {:page 1}}
