{:highlights [{:id #uuid "6480413c-9564-46a4-9d5b-8a9a30d1642f",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 549.7512817382812,
                                     :y2 238.734375,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 135.5,
                                   :x2 549.7512817382812,
                                   :y2 150.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 153.1484375,
                                   :x2 533.0713500976562,
                                   :y2 168.1484375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 170.796875,
                                   :x2 549.0009765625,
                                   :y2 185.796875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 188.4453125,
                                   :x2 518.7792358398438,
                                   :y2 203.4453125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 206.0859375,
                                   :x2 541.0452270507812,
                                   :y2 221.0859375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 223.734375,
                                   :x2 162.28591918945312,
                                   :y2 238.734375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 2},
               :content {:text "There is a stark tension between the creative work that educators engage in and the inflexible tools they often use in their work. These tools don’t support their goals, perspectives, or styles of working. In this thesis, we explore how teaching as a form of creative work can be empowered with creative tools and make the case for bringing the playful spirit of technologies for children to the design of technologies for educators."},
               :properties {:color "green"}}
              {:id #uuid "64804145-aadf-48eb-9277-f3893bcdced4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 550.1593627929688,
                                     :y2 397.5625,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 259.03125,
                                   :x2 511.5162353515625,
                                   :y2 274.03125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 276.6796875,
                                   :x2 547.9282836914062,
                                   :y2 291.6796875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 294.328125,
                                   :x2 528.8973388671875,
                                   :y2 309.328125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 311.96875,
                                   :x2 494.6031494140625,
                                   :y2 326.96875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 329.6171875,
                                   :x2 550.1593627929688,
                                   :y2 344.6171875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 347.265625,
                                   :x2 523.317626953125,
                                   :y2 362.265625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 364.9140625,
                                   :x2 535.0858154296875,
                                   :y2 379.9140625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 382.5625,
                                   :x2 547.504150390625,
                                   :y2 397.5625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 2},
               :content {:text "We introduce the idea of creative learning design tools — tools that are more tinkerable, personal, and collaborative. We describe how educators use these tools to iteratively plan, draft ideas, prototype experiences, extend their imaginations, repurpose materials, and organize their thinking in ways that express their epistemological styles. We highlight how educators can make more of their thinking visible to themselves and others, supporting reflective practice and opening up new opportunities for collaboration. This in turn surfaces bottom-up innovations, produces work that can be readily repurposed, and encourages creative risk taking."},
               :properties {:color "green"}}
              {:id #uuid "64804150-e6d8-462b-8704-33c19cf10deb",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 545.7271118164062,
                                     :y2 538.734375,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 337.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 417.8515625,
                                   :x2 545.7271118164062,
                                   :y2 432.8515625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 435.5,
                                   :x2 513.2017822265625,
                                   :y2 450.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 453.1484375,
                                   :x2 518.76611328125,
                                   :y2 468.1484375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 470.796875,
                                   :x2 519.3800048828125,
                                   :y2 485.796875,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 488.4453125,
                                   :x2 536.2411499023438,
                                   :y2 503.4453125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 506.0859375,
                                   :x2 524.0198364257812,
                                   :y2 521.0859375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 84.703125,
                                   :y1 523.734375,
                                   :x2 155.25677490234375,
                                   :y2 538.734375,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 2},
               :content {:text "We explain how we repurposed existing tools as creative learning design tools and why we used one in particular (Milanote) instead of developing our own tool. Through collaborations with educators ranging from novice public high school teachers in low-resource settings to experienced university faculty teaching in open-ended contexts, we describe how a creative learning design tool can lower the floors, widen the walls, and raise the ceilings for designing creative learning experiences."},
               :properties {:color "green"}}
              {:id #uuid "648088fa-321e-4b1e-9004-7ff2a2b48a3e",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 349.6712951660156,
                                     :y2 430.203125,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 90.875,
                                   :y1 397.5625,
                                   :x2 349.6712951660156,
                                   :y2 412.5625,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}
                                  {:x1 90.875,
                                   :y1 415.203125,
                                   :x2 303.10406494140625,
                                   :y2 430.203125,
                                   :width 719.9999999999999,
                                   :height 931.7647058823528}),
                          :page 6},
               :content {:text "To make this easier, we’ve organized examples into a Milanote file that you can remix."},
               :properties {:color "green"}}
              {:id #uuid "648089ee-3224-4c95-add3-5b68ad04138e",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 366,
                                     :x2 518.4119262695312,
                                     :y2 675.5,
                                     :width 720,
                                     :height 931.7647058823529},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 720,
                                   :height 931.7647058823529}
                                  {:x1 444.44940185546875,
                                   :y1 642.8515625,
                                   :x2 518.4119262695312,
                                   :y2 657.8515625,
                                   :width 720,
                                   :height 931.7647058823529}
                                  {:x1 84.703125,
                                   :y1 660.5,
                                   :x2 429.7216491699219,
                                   :y2 675.5,
                                   :width 720,
                                   :height 931.7647058823529}),
                          :page 6},
               :content {:text "You can read more about my perspective in my personal theory of practice."},
               :properties {:color "green"}}
              {:id #uuid "64808d33-b550-43be-a801-d6869cd66ab9",
               :page 14,
               :position {:bounding {:x1 84.703125,
                                     :y1 261.765625,
                                     :x2 131.73623657226562,
                                     :y2 283.765625,
                                     :width 720,
                                     :height 931.7647058823529},
                          :rects ({:x1 84.703125,
                                   :y1 261.765625,
                                   :x2 131.73623657226562,
                                   :y2 283.765625,
                                   :width 720,
                                   :height 931.7647058823529}),
                          :page 14},
               :content {:text "Goals"},
               :properties {:color "green"}}],
 :extra {:page 16}}
